@use '../../utils/index' as *;
@use "../../tokens/spacings/spacings" as *;
@use "../../globals/variants";

.moonstone-dropdown_container {
    position: relative;
}

.moonstone-dropdown_icon {
    display: flex;
    flex: 0 0 auto;
}

.moonstone-dropdown_chevronDown {
    flex: 0 0 auto;
    margin-left: var(--spacing-nano);
}

.moonstone-dropdown_tags {
    gap: var(--spacing-nano) var(--spacing-small);
}

.moonstone-disabled {
    & > .moonstone-treeView_item {
        @extend %selector_disabled;
    }
}

.moonstone-dropdown {
    @extend %variant_ghost;

    gap: $spacing-icon;
    padding: var(--spacing-nano) var(--spacing-small);

    border-radius: var(--radius-selector);
    cursor: pointer;

    &.moonstone-disabled {
        @extend %selector_disabled;
    }

    // ---
    // Manage sizes
    // ---
    &.moonstone-medium {
        gap: $spacing-icon_big;
        min-height: 32px;
    }

    &.moonstone-opened {
        border: var(--border-selector_active);
    }

    &:focus-visible {
        border: var(--border-selector_focus);
        outline: none;
    }

    &:not(.moonstone-filled) .moonstone-dropdown_label {
        font-style: italic;
        color: var(--color-gray_dark60);
    }
}

.moonstone-reversed {
    .moonstone-dropdown_ghost:hover {
        color: var(--color-accent);

        background-color: transparent;
    }
}

// ---
// Outlined variant
// ---
.moonstone-dropdown_outlined {
    color: var(--color-gray_dark);

    border: var(--border-selector);
    background-color: var(--background-selector);

    &:hover:not(.moonstone-disabled, [aria-disabled="true"]) {
        border: var(--border-selector_hover);
        background: none;
    }
}
