@import '~/utils/index';

.dropdown_icon {
    display: flex;
    margin-right: var(--spacing-nano);
}

.dropdown_label {
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-small);

    border-radius: 2px;
    cursor: pointer;

    transition: background 0.2s ease-in-out;

    &:hover {
        color: var(--color-accent);
    }

    &:active {
        color: var(--color-light);

        background-color: var(--color-accent);
    }

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px var(--color-accent);
    }

    // ---
    // Manage size variants
    // ---
    &.small {
        padding-top: var(--spacing-nano);
        padding-bottom: var(--spacing-nano);
    }

    &.medium {
        padding-top: var(--spacing-small);
        padding-bottom: var(--spacing-small);
    }
}

// ---
// Dropdown states
// ---
.dropdown {
    &.opened {
        .dropdown_label {
            color: var(--color-light);

            background-color: var(--color-accent);
        }
    }

    &.disabled {
        @include is-disabled;

        &:hover {
            .dropdown_label {
                pointer-events: none;
            }
        }

        > * {
            pointer-events: none;
        }
    }
}
