.moonstone-tag {
    display: flex;
    width: fit-content;
    max-width: 100px;
    padding: 4px 8px;

    color: var(--color-light);

    border: none;
    border-radius: 4px;
    background-color: var(--color-accent);
    cursor: pointer;

    &.moonstone-small {
        padding: 0 8px;
    }

    &:hover {
        background-color: var(--color-accent60);
    }
}
