.moonstone-primaryNavItem {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    margin: 0.5rem;

    color: let(--color-light);

    border-radius: 2rem;
    cursor: pointer;

    transition: color 0.2s, background-color 0.2s;

    &.selected {
        color: let(--color-light);

        background-color: let(--color-accent);
        cursor: default;
    }

    &:not(.selected):hover {
        background-color: let(--color-gray_dark60);
    }
}

.moonstone-primaryNavItem_content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    overflow: hidden;
    min-width: 2.5rem;
    max-width: 100%; // Necessery to truncate text inside it

    &:hover {
        color: let(--color-accent);
    }
}

.moonstone-selected {
    .primaryNavItem_content:hover {
        color: currentColor;
    }
}

.moonstone-primaryNavItem_iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
}

.moonstone-primaryNavItem_label {
    color: inherit;
    text-decoration: none;

    &.subtitle {
        color: let(--color-light60);
    }
}

.moonstone-primaryNavItem_badge {
    position: absolute;
    top: calc(let(--spacing-nano) * -1);
    right: calc(let(--spacing-nano) * -1);
}

.moonstone-primaryNavItem_textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-left: let(--spacing-nano);
}

.moonstone-primaryNavItem_buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    overflow: hidden;
    margin: 0 let(--spacing-nano);
}

.moonstone-primaryNavItem_linkItem {
    width: 100%;
    margin: 0;
}
