@import '~/styles/shared/all';

.primaryNavItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    margin: 0.5rem;

    color: $color-light;

    border-radius: 2rem;
    outline: 0.5rem solid $color-dark;

    cursor: pointer;

    transition: color 0.2s, background-color 0.2s;

    &:hover {
        color: $color-accent;
    }

    &.selected {
        color: $color-light;

        background-color: $color-accent;
        cursor: default;
    }

    &_iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        min-width: 2.5rem;
        height: 2.5rem;
    }

    &_label {
        padding-left: 0.5rem;

        color: inherit;

        text-decoration: none;
    }

    &_textContainer {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        justify-content: center;
    }

    &_buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    &_linkItem {
        width: 100%;
    }
}
