.primaryNavItem {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5rem;
    margin: 0.5rem;

    color: var(--color-light);

    border-radius: 2rem;
    cursor: pointer;

    transition: color 0.2s, background-color 0.2s;

    // overflow: hidden; // Hide content when primaryNav is collapsed

    &.selected {
        color: var(--color-light);

        background-color: var(--color-accent);
        cursor: default;

        pointer-events: none;
    }
}

.primaryNavItem_content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    overflow: hidden;
    min-width: 2.5rem;
    max-width: 100%; // Necessery to truncate text inside it

    &:hover {
        color: var(--color-accent);
    }
}

.primaryNavItem_iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
}

.primaryNavItem_label {
    color: inherit;
    text-decoration: none;

    &.subtitle {
        color: var(--color-light60);
    }
}

.primaryNavItem_textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.primaryNavItem_buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    overflow: hidden;
}

.primaryNavItem_linkItem {
    width: 100%;
    margin: 0;
}
