@use '../../../utils/index';

$default-size: 24px;
$big-size: 32px;
$min-width: 40px;

.moonstone-baseInput {
    position: relative;

    display: inline-flex;
    align-items: center;
    width: 100%;
    min-width: $min-width;
    min-height: $default-size;

    color: var(--color-gray_dark);

    cursor: text;

    &.moonstone-big {
        min-height: $big-size;
    }

    &.moonstone-outlined {
        border: var(--border-selector);
        border-radius: var(--radius_small);
    }
}

//--
// Icon
//--
.moonstone-baseInput_icon {
    height: 0.01em;
    max-height: 2em;
    margin-left: var(--spacing-small);

    color: var(--color-gray_dark);

    white-space: nowrap;

    pointer-events: none;
}

.moonstone-baseInput_elementsWrapper {
    gap: var(--spacing-nano);
    margin: 0 var(--spacing-nano);
}

//--
// Input element
//--
.moonstone-baseInput-element {
    @extend %variant-caption;

    display: block;
    flex: 1;
    width: 0; // CSS trick to force element to shrink
    min-width: 50px;
    height: calc($default-size - 2px);
    margin: 0; // Reset for Safari
    padding: 0 var(--spacing-small);

    border: 0;

    -webkit-tap-highlight-color: transparent;

    .moonstone-reversed & {
        // color: var(--color-white);

        background-color: transparent;
    }

    &.moonstone-big {
        @extend %variant-body;

        height: calc($big-size - 2px);
    }

    // Reset Firefox invalid required input style
    &:invalid {
        border: none;
        box-shadow: none;
    }

    &::placeholder {
        font-style: italic;
        color: var(--color-gray_dark60);

        opacity: 1;
    }

    &:focus {
        outline: none;

        ~ .moonstone-baseInput_icon {
            color: var(--color-accent);
        }
    }

    &:read-only {
        border: none;
    }

    &:disabled {
        color: var(--color-gray);

        border: none;

        background-color: var(--color-gray_light40);
        cursor: default;
        opacity: 1; // Reset iOS opacity

        ~ .moonstone-baseInput_icon {
            color: var(--color-gray);
        }
    }

    // Check if the nput is empty
    &:placeholder-shown {
        ~ .moonstone-baseInput_icon {
            color: var(--color-gray60);
        }
    }
}

//--
// Reversed style
//--
.moonstone-reversed:not(:has(.moonstone-menu)) {
    .moonstone-baseInput_icon,
    .moonstone-baseInput {
        color: var(--color-white);
    }
}

//--
// Clear Button
//--
.moonstone-baseInput_clearButton {
    color: var(--color-gray);
    white-space: nowrap;

    cursor: pointer;
}

//--
// Search Context
//--
.moonstone-searchContextInput_element {
    min-width: 100px;
    max-width: 100px;

    background-color: var(--color-gray_light40);
}
