.pagination {
    gap: var(--spacing-medium);
    height: 64px;
    padding: 0 var(--spacing-medium);
}

.pagination_navigation {
    gap: var(--spacing-small);
}

.pagination_info {
    gap: var(--spacing-medium);
}

.pagination_itemsPerPage {
    gap: var(--spacing-nano);
}
