
.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.verticalAlignTop {
    vertical-align: top;
}

.verticalAlignMiddle {
    vertical-align: middle;
}

.verticalAlignBottom {
    vertical-align: bottom;
}
