// ---
// Drag n Drop classes
// ---
$dnd-highlight: var(--color-accent_light60);

.moonstone-drag {
    opacity: 0.5;
}

.moonstone-drop_listItem:not(.moonstone-drag) {
    outline: 2px solid $dnd-highlight;
    outline-offset: -2px;
}

.moonstone-drop_row,
.moonstone-drop_card {
    &:not(.moonstone-drag) {
        outline: 4px solid $dnd-highlight;
        outline-offset: -4px;
    }
}

.moonstone-order_before {
    position: relative;

    &::before {
        @extend %orderingIndicator;

        position: absolute;
        content: "";

        top: -1px;
    }
}

.moonstone-order_after {
    position: relative;

    &::after {
        @extend %orderingIndicator;

        position: absolute;
        content: "";

        top: calc(100% - 1px);
    }
}

%orderingIndicator {
    width: 100%;
    height: 1px;
    margin-left: var(--treeItem-indent, 0);

    background-color: $dnd-highlight;
}
