// ---
// Flex class wrapper
// ---

%flex-column {
    display: flex;
    flex-flow: column wrap;
    min-height: 0;
}

%flex-row {
    display: flex;
    flex-flow: row wrap;
    min-height: 0;
}

// ---
// Horizontal
// ---
.flexRow {
    @extend %flex-row;
}

.flexRow_nowrap {
    @extend %flex-row;

    flex-flow: row nowrap;
}

.flexRow_reverse {
    @extend %flex-row;

    justify-content: flex-end;
}

.flexRow_center {
    @extend %flex-row;

    justify-content: center;
}

.flexRow_between {
    @extend %flex-row;

    justify-content: space-between;
}

// ---
// Vertical
// ---
.flexCol {
    @extend %flex-column;
}

.flexCol_nowrap {
    @extend %flex-column;

    flex-flow: column nowrap;
}

.flexCol_reverse {
    @extend %flex-column;

    justify-content: flex-end;
}

.flexCol_center {
    @extend %flex-column;

    justify-content: center;
}

.flexCol_between {
    @extend %flex-column;

    justify-content: space-between;
}

// ---
// Alignment
// ---
.alignCenter {
    align-items: center;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

// ---
// Helpers
// ---
.flexFluid {
    flex: 1;

    min-width: 0;
    min-height: 0;
}
