@use "../utils/mixins" as *;

// Default style
%variant_ghost {
    border: 1px solid transparent;

    background-color: transparent;

    &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        color: var(--color-accent_dark);

        background-color: var(--color-gray_light_plain20);
    }

    &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        @extend %is-focused;
    }

    &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        border-color: transparent;
        background-color: var(--color-gray_light_plain60);
    }

    &.moonstone-reverse {
        color: var(--color-light);

        &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            @extend %is-focused;
        }

        &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-light);

            border-color: transparent;
            background-color: var(--color-gray40);
        }

        &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-white);

            border-color: transparent;
            background-color: var(--color-gray_light40);
        }
    }
}

%variant_ghost_accent {
    color: var(--color-accent);

    border: 1px solid transparent;

    background-color: transparent;

    &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        color: var(--color-accent_dark);
    }

    &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        @extend %is-focused;
    }

    &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        color: var(--color-white);

        background-color: var(--color-accent_dark);
    }

    &[aria-disabled="true"], [aria-busy="true"],
    &:disabled {
        color: inherit;
    }

    &.moonstone-reverse {
        &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-white);

            background-color: var(--color-accent40);
        }

        &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            @extend %is-focused;
        }

        &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-white);

            border-color: transparent;
            background-color: var(--color-accent_dark);
        }
    }
}

%variant_ghost_danger {
    color: var(--color-danger);

    border: 1px solid transparent;

    background-color: transparent;

    &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        color: var(--color-danger);
    }

    &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        @extend %is-focused;
    }

    &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
        color: var(--color-white);

        background-color: var(--color-danger);
    }

    &[aria-disabled="true"], [aria-busy="true"],
    &:disabled {
        color: inherit;
    }

    &.moonstone-reverse {
        &:hover:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-white);

            background-color: var(--color-danger40);
        }

        &:focus-visible:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            @extend %is-focused;
        }

        &:active:not(:disabled, [aria-disabled="true"], [aria-busy="true"]) {
            color: var(--color-white);

            border-color: transparent;
            background-color: var(--color-danger);
        }
    }
}
