:root {
    --border-selector: solid 1px var(--color-gray40);
    --border-selector_hover: solid 1px var(--color-gray);
    --border-selector_focus: solid 1px var(--color-accent);
    --border-selector_active: solid 1px var(--color-accent);
    --background-selector: var(--color-white);
    --radius-selector: var(--radius_small);
}
