//---
// Flex class wrapper
//---

%flex-column {
    display: flex;
    flex-flow: column wrap;
}

%flex-row {
    display: flex;
    flex-flow: row wrap;
}

// ---
// Horizontal
// ---
:global(.flexRow) {
    @extend %flex-row;
}

:global(.flexRow_nowrap) {
    display: flex;
    flex-direction: row;
}

:global(.flexRow_reverse) {
    @extend %flex-row;

    justify-content: flex-end;
}

:global(.flexRow_center) {
    @extend %flex-row;

    justify-content: center;
}

:global(.flexRow_between) {
    @extend %flex-row;

    justify-content: space-between;
}

// ---
// Vertical
// ---
:global(.flexCol) {
    @extend %flex-column;
}

:global(.flexCol_nowrap) {
    display: flex;
    flex-direction: column;
}

:global(.flexCol_reverse) {
    @extend %flex-column;

    justify-content: flex-end;
}

:global(.flexCol_center) {
    @extend %flex-column;

    justify-content: center;
}

:global(.flexCol_between) {
    @extend %flex-column;

    justify-content: space-between;
}

// ---
// Alignment
// ---
:global(.alignCenter) {
    align-items: center;
}

:global(.alignStart) {
    align-items: flex-start;
}

:global(.alignEnd) {
    align-items: flex-end;
}

// ---
// Helpers
// ---
:global(.flexFluid) {
    flex: 1;
}
