$base-space-unit: 8px;

:global(:root) {
    // Spacings
    --spacing-nano: #{$base-space-unit * 0.5}; // 4px
    --spacing-small: #{$base-space-unit}; // 8px
    --spacing-medium: #{$base-space-unit * 2}; // 16px
    --spacing-large: #{$base-space-unit * 3}; // 24px
    --spacing-big: #{$base-space-unit * 5}; // 40px
    --spacing-huge: #{$base-space-unit * 7}; // 56px
}
