@mixin tableCell-padding {
    padding: 0 var(--spacing-medium);
}

.moonstone-verticalAlignTop {
    vertical-align: top;
}

.moonstone-verticalAlignCenter {
    vertical-align: middle;
}

.moonstone-verticalAlignBottom {
    vertical-align: bottom;
}

.moonstone-TableCell_iconStart {
    margin-right: var(--spacing-nano);
}

.moonstone-TableCell_iconEnd {
    margin-left: var(--spacing-nano);
}
