@import '~/utils/index';

.moonstone-TableCell {
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);

    // Manage the chevron spacing for the structured table
    .moonstone-marginRightNano {
        margin-right: var(--spacing-nano);
    }
}

.moonstone-verticalAlignTop {
    vertical-align: top;
}

.moonstone-verticalAlignCenter {
    vertical-align: middle;
}

.moonstone-verticalAlignBottom {
    vertical-align: bottom;
}
