.moonstone-table_cell {
    padding: 0 var(--spacing-medium);
}

.moonstone-verticalAlignTop {
    vertical-align: top;
}

.moonstone-verticalAlignCenter {
    vertical-align: middle;
}

.moonstone-verticalAlignBottom {
    vertical-align: bottom;
}
