// Accent
$color-accent_dark: #003449;
$color-accent: #00a0e3;
$color-accent_light: #d3e9f3;

// Neutral
$color-light: #fdfdfd;
$color-light60: rgba($color-light, 0.6);
$color-light40: rgba($color-light, 0.4);
$color-gray_light: #dadada;
$color-gray_light60: rgba($color-gray_light, 0.6);
$color-gray_light40: rgba($color-gray_light, 0.4);
$color-gray: #7a7f88;
$color-gray40: rgba($color-gray, 0.4);
$color-gray60: rgba($color-gray, 0.6);
$color-gray_dark: #293136;
$color-gray_dark40: rgba($color-gray_dark, 0.4);
$color-gray_dark60: rgba($color-gray_dark, 0.6);
$color-dark: #131c21;

// Support
$color-success: #0ea982;
$color-warning: #e8b606;
$color-danger: #e0182d;

// Color maps
$colorsAccent: (
    "accent_dark": $color-accent_dark,
    "accent": $color-accent,
    "accent_light": $color-accent_light,
);
$colorsNeutral: (
    "light": $color-light,
    "light60": $color-light60,
    "light40": $color-light40,
    "gray_light": $color-gray_light,
    "gray_light60": $color-gray_light60,
    "gray_light40": $color-gray_light40,
    "gray":   $color-gray,
    "gray60": $color-gray60,
    "gray40": $color-gray40,
    "gray_dark":   $color-gray_dark,
    "gray_dark60": $color-gray_dark60,
    "gray_dark40": $color-gray_dark40,
);
$colorsSupport: (
    "success": $color-success,
    "warning": $color-warning,
    "danger": $color-danger,
);
$colors: map-merge(map-merge($colorsAccent, $colorsNeutral), $colorsSupport);

@function color($colorName) {
    @if map-has-key($colors, $colorName) {
        @return map-get($colors, $colorName);
    }

    @warn "The key #{$colorName} is not in the map ’$colors’";

    @return null;
}
