// Text-transform /////////////////
%capitalize,
.capitalize {
    text-transform: capitalize;
}

%uppercase,
.uppercase {
    text-transform: uppercase;
}

%lowercase,
.lowercase {
    text-transform: lowercase;
}

// Text-wraping /////////////////
%text-wrap,
.text-wrap {
    white-space: normal;
}

%text-nowrap,
.text-nowrap {
    white-space: nowrap;
}

%text-break,
.text-break {
    word-break: break-word;
    overflow-wrap: break-word;
}

// Requires display: inline-block or display: block.
%text-truncate,
.text-truncate {
    @extend %text-nowrap;

    text-overflow: ellipsis;
    overflow: hidden;
}

// Text-align /////////////////
%text-left,
.text-left {
    text-align: left;
}

%text-right,
.text-right {
    text-align: right;
}

%text-center,
.text-center {
    text-align: center;
}

%text-justify,
.text-justify {
    text-align: justify;
}

/*
justify-all: justify-all,
start: start,
end: end,
match-parent: match-parent
*/

%text-decoration-none,
.text-decoration-none {
    text-decoration: none;
}
