@import '../colors/colors.scss';

.navItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.5rem;
    width: 18.75rem;
    color: $color-neutral;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        color: $color-accent;
    }

    &.navItem_selected {
        color: $color-neutral;
        background-color: $color-accent;
        cursor: default;
    }
}

.navItem-icon-container {
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
