@import '../../utils/index';

$default-size: 24px;
$big-size: 32px;
$min-width: 40px;
$border-width: 1px;
$border-style: solid;
$border-radius: 2px;

.moonstone-input {
    position: relative;

    display: inline-flex;
    align-items: center;
    width: 100%;
    min-width: $min-width;
    height: $default-size;

    color: var(--color-gray_dark);
    line-height: 23px;

    cursor: text;

    input {
        @extend %variant-caption;

        display: block;
        box-sizing: content-box;
        width: 100%; // Fix IE 11 width issue
        // Make the flex item shrink with Firefox
        min-width: 0;
        height: $default-size;
        margin: 0; // Reset for Safari
        padding: 0 var(--spacing-small);

        border: $border-width $border-style var(--color-gray60);
        border-radius: $border-radius;

        -webkit-tap-highlight-color: transparent;

        // Reset Firefox invalid required input style
        &:invalid {
            box-shadow: none;
        }

        &::placeholder {
            font-style: italic;
        }

        &:hover,
        &:active {
            border-color: var(--color-gray);
        }

        &:focus {
            border-color: var(--color-accent);
            outline: none;
        }

        &:read-only {
            border: transparent;
        }

        &:disabled {
            //color: var(--color-gray);

            border: transparent;
            background-color: var(--color-gray_light40);
            cursor: default;
            opacity: 1; // Reset iOS opacity
        }
    }

    &.moonstone-size_big {
        height: $big-size;

        input {
            height: $big-size;
        }
    }

    &.moonstone-disabled {
        color: var(--color-gray);
    }

    %icon-shared {
        white-space: nowrap;
    }

    .start-icon-wrap {
        @extend %icon-shared;

        position: absolute;
        left: var(--spacing-small);

        height: 0.01em;
        max-height: 2em;

        pointer-events: none;

        & ~ input {
            padding-left: 28px;
        }
    }

    .end-icon-wrap {
        @extend %icon-shared;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(100% - 28px);

        cursor: pointer;

        & ~ input {
            padding-right: 28px;
        }
    }
}
