@import '~/styles/shared/all';

// Css for html only solution i. e. <div className="separator"/>. But it causes twitching during transition due to resizing.
.separator {
    width: 40%;
    height: 1px;

    background-color: $color-gray;
    opacity: 0.4;

    &_expanded {
        width: 90%;
        height: 1px;

        background-color: $color-gray;
        opacity: 0.4;
    }
}
