.separator {
    border: 0;
    background: var(--color-gray40);
}

.separator_horizontal {
    height: 1px;

    // Size's Separator
    &.size_medium {
        width: calc(100% - var(--spacing-huge));
    }

    &.size_large {
        width: calc(100% - var(--spacing-medium));
    }

    &.size_full {
        width: 100%;
    }

    // Spacing's Separator
    &.spacing_small {
        margin: var(--spacing-small) auto;
    }

    &.spacing_medium {
        margin: var(--spacing-medium) auto;
    }

    &.spacing_big {
        margin: var(--spacing-big) auto;
    }
}

.separator_vertical {
    width: 1px;

    // Size's Separator
    &.size_medium {
        height: calc(100% - var(--spacing-huge));
    }

    &.size_large {
        height: calc(100% - var(--spacing-medium));
    }

    &.size_full {
        height: 100%;
    }

    // Spacing's Separator
    &.spacing_small {
        margin: auto var(--spacing-small);
    }

    &.spacing_medium {
        margin: auto var(--spacing-medium);
    }

    &.spacing_big {
        margin: auto var(--spacing-big);
    }
}
