@import '../styles/shared/all';

@mixin itemValue($value) {
    &::after {
        content: "#{$value}";

        position: absolute;
        bottom: spacing('small');
        left: 0;

        color: $color-gray60;
    }
}

@each $name, $spacingValue in $spacings {
    .spacing-#{$name} {
        @include itemValue($spacingValue);

        width: $spacingValue;
        height: $spacingValue;

        background-color: $color-accent;
    }
}
