$base-space-unit: 8px;

// Spacings
$spacing-nano: $base-space-unit * 0.5;
$spacing-small: $base-space-unit;
$spacing-medium: $base-space-unit * 2;
$spacing-large: $base-space-unit * 3;
$spacing-big: $base-space-unit * 5;
$spacing-huge: $base-space-unit * 7;
