.moonstone-badge {
    color: let(--color-light);

    pointer-events: none;

    &.round {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        max-width: fit-content;
        height: 20px;
        padding: let(--spacing-nano);

        border-radius: 2rem;
    }

    &.diamond {
        width: 12px;
        height: 12px;

        transform: rotate(45deg);
    }

    &.color_accent {
        background-color: let(--color-accent);
    }

    &.color_danger {
        background-color: let(--color-danger);
    }

    &.color_success {
        background-color: let(--color-success);
    }
}
