.badge {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    padding: 0 8px;

    border-radius: 48px;

    &.color_accent {
        color: var(--color-accent_dark_contrast);

        background-color: var(--color-accent_light40);
    }

    &.color_danger {
        color: var(--color-gray_dark);

        background-color: var(--color-danger40);
    }

    &.color_default {
        color: var(--color-accent_dark);

        background-color: var(--color-gray_light40);
    }

    &.color_success {
        color: var(--color-gray_dark);

        background-color: var(--color-success40);
    }

    &.color_warning {
        color: var(--color-gray_dark);

        background-color: var(--color-warning40);
    }
}
