.moonstone-badge {
    color: var(--color-light);

    pointer-events: none;

    &.moonstone-badge_round {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        max-width: max-content;
        height: 20px;
        padding: var(--spacing-nano);

        border-radius: 2rem;
    }

    &.moonstone-badge_accent {
        background-color: var(--color-accent);
    }

    &.moonstone-badge_danger {
        background-color: var(--color-danger);
    }

    &.moonstone-badge_success {
        background-color: var(--color-success);
    }
}
