{
    // "extends": ["@jahia", "prettier"],
    "extends": ["prettier"],
    "plugins": ["json", "prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "parser": "babel-eslint"
}
