.moonstone-tableHead {
    color: var(--color-gray_dark);

    background-color: var(--color-white);
}

.moonstone-tableHead-sticky {
    position: sticky;
    top: 0;
    z-index: var(--zIndex-1);
}
