@use "variants/default";
@use "variants/outlined";
@use "../../tokens/spacings/spacings" as *;
@use "../../globals/variants";

$button-size_small: 16px;
$button-size_medium: 24px;
$button-size_big: 32px;

.moonstone-button {
    @extend %variant_default;

    // The display `inline-flex` is requiered to align buttons in a table row
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: $button-size_medium;
    padding: 0 var(--spacing-small);

    font-family: inherit;

    border: solid 1px var(--color-gray_dark);

    border-radius: var(--radius);

    outline: none;
    cursor: pointer;

    &.moonstone-button_outlined,
    &.moonstone-button_outlined_accent,
    &.moonstone-button_outlined_danger {
        @extend %variant_outlined;
    }

    &.moonstone-button_ghost {
        @extend %variant_ghost;
    }

    &.moonstone-button_ghost_accent {
        @extend %variant_ghost_accent;
    }

    &.moonstone-button_ghost_danger {
        @extend %variant_ghost_danger;
    }

    &.moonstone-icon-button {
        padding: 0;

        border-radius: 40px;

        &.moonstone-btton_small {
            width: $button-size_small;
        }

        &.moonstone-button_default {
            width: $button-size_medium;
        }

        &.moonstone-button_big {
            width: $button-size_big;
        }
    }

    &.moonstone-icon {
        gap: $spacing-icon;

        &.moonstone-button_big {
            gap: $spacing-icon_big;
        }
    }
}

.moonstone-button_big {
    height: $button-size_big;
    padding: 0 var(--spacing-medium);
}

.moonstone-button_small {
    height: $button-size_small;
    padding: 0 var(--spacing-nano);

    > * {
        line-height: $button-size_small - 2px;
    }
}

.moonstone-button_loading {
    position: relative;
}

.moonstone-button .moonstone-button_loaderOverlay {
    position: absolute;
    top: 50%;
    left: 50%;

    fill: var(--color-white);

    transform: translate(-50%, -50%);

    // Hide siblings of the loader when it displays as overlay (Typography, iconEnd)
    ~ * {
        visibility: hidden;
    }
}
