@use "variants/default" as *;
@use "variants/outlined" as *;
@use "../../tokens/spacings/spacings" as *;
@use "../../globals/variants";

$button-size_small: 16px;
$button-size_medium: 24px;
$button-size_big: 32px;

.moonstone-button {
    composes:
        moonstone-button from "../ButtonGroup/ButtonGroup.module.scss",
        moonstone-button from "../Table/TableRow/TableRow.module.scss";

    // The display `inline-flex` is requiered to align buttons in a table row
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;

    font-family: inherit;

    border-radius: var(--moon-radius);

    outline: none;
    cursor: pointer;

    &:disabled {
        color: var(--moon-color-gray_dark);

        cursor: not-allowed;
        opacity: 0.4;
    }

    &[data-variant="default"] {
        @include variant_default;
    }

    &[data-variant="default"][data-color="accent"] {
        @include variant_default_accent;
    }

    &[data-variant="default"][data-color="danger"] {
        @include variant_default_danger;
    }

    &[data-variant="outlined"] {
        @extend %outlined_default;
    }

    &[data-variant="outlined"][data-color="accent"] {
        @extend %outlined_accent;
    }

    &[data-variant="outlined"][data-color="danger"] {
        @extend %outlined_danger;
    }

    &[data-variant="ghost"] {
        @extend %variant_ghost;
    }

    &[data-variant="ghost"][data-color="accent"] {
        @extend %variant_ghost_accent;
    }

    &[data-variant="ghost"][data-color="danger"] {
        @extend %variant_ghost_danger;
    }

    &.moonstone-icon {
        gap: $spacing-icon;

        &.moonstone-button_big {
            gap: $spacing-icon_big;
        }
    }
}

.moonstone-icon-button {
    composes: moonstone-icon-button from "../ButtonGroup/ButtonGroup.module.scss";

    border-radius: 40px;

    &.moonstone-button_small {
        width: $button-size_small;
    }

    &.moonstone-button_default {
        width: $button-size_medium;
    }

    &.moonstone-button_big {
        width: $button-size_big;
    }
}

.moonstone-button_default {
    height: $button-size_medium;
    padding: 0 var(--moon-spacing-small);
}

.moonstone-button_big {
    height: $button-size_big;
    padding: 0 var(--moon-spacing-medium);
}

.moonstone-button_small {
    height: $button-size_small;
    padding: 0 var(--moon-spacing-nano);

    > * {
        line-height: $button-size_small - 2px;
    }
}

.moonstone-button_loading {
    position: relative;
}

.moonstone-button .moonstone-button_loaderOverlay {
    position: absolute;
    top: 50%;
    left: 50%;

    fill: var(--moon-color-white);

    transform: translate(-50%, -50%);

    // Hide siblings of the loader when it displays as overlay (Typography, iconEnd)
    ~ * {
        visibility: hidden;
    }
}

// .moonstone-button_accent {
//     composes: moonstone-button_accent from "../ButtonGroup/ButtonGroup.module.scss";
// }

// .moonstone-button_danger {
//     composes: moonstone-button_danger from "../ButtonGroup/ButtonGroup.module.scss";
// }

// .moonstone-button_outlined {
//     composes: moonstone-button_outlined from "../ButtonGroup/ButtonGroup.module.scss";
// }
