@import "variants/default";
@import "variants/ghost";
@import "variants/outlined";

$button-size_small: 16px;
$button-size_medium: 24px;
$button-size_big: 32px;

.moonstone-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: $button-size_medium;
    padding: 0 var(--spacing-small);

    font-family: inherit;

    border-radius: 4px;

    outline: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        box-shadow: 0 var(--spacing-nano) var(--spacing-small) var(--color-dark20);
    }

    &.size_big {
        height: $button-size_big;
        padding: 0 var(--spacing-medium);
    }

    &.size_small {
        height: $button-size_small;
        padding: 0 var(--spacing-nano);

        > * {
            line-height: $button-size_small - 2px;
        }
    }

    &.variant_default {
        @extend %variant_default;
    }

    &.variant_outlined {
        @extend %variant_outlined;
    }

    &.variant_ghost {
        @extend %variant_ghost;
    }

    &.icon-button {
        padding: 0;

        border-radius: 40px;

        &.size_small {
            width: $button-size_small;
        }

        &.size_default {
            width: $button-size_medium;
        }

        &.size_big {
            width: $button-size_big;
        }
    }

    &.icon {
        svg {
            margin-right: var(--spacing-nano);
        }

        &.size_big svg {
            margin-right: var(--spacing-small);
        }
    }

    &:disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.3;
    }
}
