@use '../CardSelector.scss' as *;

.moonstone-emptyCardSelector {
    gap: var(--spacing-nano);
    width: 100%;
    height: $cardSelector-height;

    color: var(--color-dark_plain60);

    border: 1px dashed var(--color-gray40);
    border-radius: var(--radius-selector);
    background-color: var(--background-selector);
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &[aria-disabled="true"]{
        @extend %selector_disabled;

        color: var(--color-dark_plain60);

        cursor: not-allowed;
    }

    &:focus-visible:not([aria-disabled="true"]) {
        @extend %is-focused;
    }

    &:hover:not([aria-disabled="true"]) {
        border: var(--border-selector_hover);
    }
}
