.moonstone-emptyCardSelector {
    gap: var(--spacing-nano);
    width: 100%;
    min-height: 78px;
    padding: var(--spacing-medium) 0;

    color: var(--color-dark_plain60);

    border: 1px dashed var(--color-gray40);
    border-radius: 4px;
    background-color: var(--color-white);
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        border: var(--selector-border_hover);
    }

    &:focus {
        border: var(--selector-border_focus);
    }
}

.moonstone-emptyCardSelector_disabled {
    background: none;
    opacity: 60%;

    pointer-events: none;
}
