@use '../../utils/index';

.menu-listSelector, .moonstone-valueList_wrapper  {
    width: fit-content !important;
    display: flex;

    .moonstone-valueList {
        height: fit-content !important;
        max-height: 100% !important;
        & >*{
            padding: var(--spacing-nano) !important;
            & span {
                font-size: 0.75rem !important;
                line-height: unset !important;
                height: fit-content !important;
            }
        }
    }
}
.menu-listSelector, .moonstone-valueList_wrapper:has(.menu-list)  {
    .moonstone-baseInput {
        display: none !important;
    }
}

.moonstone-menu {
    z-index: 9000;

    width: max-content;

    color: var(--color-gray_dark);

    border-radius: var(--radius);

    list-style: none;
    background-color: var(--color-light);
    box-shadow: 0 var(--spacing-nano) var(--spacing-small) var(--color-gray_dark60);
    overflow-x: hidden; // Shorten property doesn't work with Safari
    overflow-y: auto;

    &.moonstone-hidden {
        opacity: 0;

        pointer-events: none;
    }

    .moonstone-menu_searchInput {
        margin: var(--spacing-small) var(--spacing-medium);
    }

    .moonstone-menu_emptySearchText {
        margin: var(--spacing-medium) var(--spacing-medium);

        color: var(--color-gray);
        text-align: center;
    }

    .moonstone-checkboxItem {
        margin-top: 0;
    }
    .moonstone-cardSelector_dragIcon {
        position: unset !important;
    }
}

// ---
// Overlay
// ---
.moonstone-menu_overlay {
    @extend %overlay;

    z-index: 8500;
}
