@import '~/utils/index';

.menuItem {
    cursor: pointer;

    > *::first-letter {
        text-transform: uppercase;
    }

    &:hover,
    &.hover {
        color: var(--color-accent);

        background-color: var(--color-gray_light40);
    }

    &.title {
        color: var(--color-gray60);

        cursor: default;

        pointer-events: none;

        > *::first-letter {
            text-transform: uppercase;
        }
    }

    &.selected,
    &.selected:hover {
        color: var(--color-light);

        background-color: var(--color-accent);
    }

    &.disabled,
    &.disabled:hover {
        @include is-disabled;

        background: none;
    }
}
