@use '../../utils/index' as *;

.moonstone-menuItem {
    padding: var(--spacing-nano) var(--spacing-medium);

    cursor: pointer;

    &:focus-visible {
        outline: none;
        box-shadow: inset 0 0 0 2px var(--color-accent);
    }

    &:hover:not(.moonstone-disabled, .moonstone-selected),
    &.moonstone-hover:not(.moonstone-disabled, .moonstone-selected) {
        color: var(--color-accent_dark);

        background-color: var(--color-gray_light_plain20);
    }

    &:active:not(.moonstone-disabled, .moonstone-selected) {
        color: var(--color-accent_dark);

        background-color: var(--color-gray_light_plain60);
        box-shadow: none;
    }

    &.moonstone-title {
        font-weight: 700;

        cursor: default;

        pointer-events: none;
    }

    &.moonstone-selected {
        color: var(--color-light);

        background-color: var(--color-accent);
        cursor: default;
    }

    &.moonstone-highlighted {
        color: var(--color-light);

        background-color: var(--color-gray60);
    }

    &.moonstone-disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &.moonstone-menuItem-image {
        padding-top: var(--spacing-small);
        padding-bottom: var(--spacing-small);
    }
}
