.panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    gap: var(--moon-spacing-nano);
    max-width: 0;
    overflow: hidden;

    padding: var(--moon-spacing-medium) var(--moon-spacing-medium) var(--moon-spacing-medium) var(--moon-spacing-nano);

    color: var(--tableCellStatus-color);
    white-space: nowrap;

    border-radius: 0 var(--moon-radius) var(--moon-radius) 0;
    background-color: var(--tableCellStatus-background);

    box-shadow: 1px 0 3px 0 var(--moon-color-gray_dark20);

    visibility: hidden;

    transition: max-width 0.4s ease-in-out, visibility 0.3s;
}

.tableCellStatus {
    position: relative;

    padding: 0;
    /* stylelint-disable-next-line declaration-no-important */
    overflow: visible !important;

    border-left: 6px solid var(--tableCellStatus-bar);

    &:hover {
        .panel {
            max-width: 500px;

            visibility: visible;
        }
    }
}

.success {
    --tableCellStatus-background: var(--moon-color-success_plain20);
    --tableCellStatus-color: var(--moon-color-success_dark);
    --tableCellStatus-bar: var(--moon-color-success);
}

.warning {
    --tableCellStatus-background: var(--moon-color-warning_plain20);
    --tableCellStatus-color: var(--moon-color-warning_dark);
    --tableCellStatus-bar: var(--moon-color-warning);
}

.danger {
    --tableCellStatus-background: var(--moon-color-danger_plain20);
    --tableCellStatus-color: var(--moon-color-danger_dark);
    --tableCellStatus-bar: var(--moon-color-danger);
}

.dark {
    --tableCellStatus-background: var(--moon-color-dark_plain20);
    --tableCellStatus-color: var(--moon-color-dark);
    --tableCellStatus-bar: var(--moon-color-dark);
}

.default {
    --tableCellStatus-background: var(--moon-color-gray_light_plain40);
    --tableCellStatus-color: var(--moon-color-gray_dark);
    --tableCellStatus-bar: var(--moon-color-gray);
}

.info {
    --tableCellStatus-background: var(--moon-color-accent_light_plain20);
    --tableCellStatus-color: var(--moon-color-accent_dark_contrast);
    --tableCellStatus-bar: var(--moon-color-accent);
}
