@use '../../utils' as *;

.moonstone-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    border-radius: var(--radius_small);
    background-color: var(--color-gray_light40);
    overflow: hidden;
}

.moonstone-thumbnail_default {
    width: 46px;
    min-width: 46px;
    height: 46px;
}

.moonstone-thumbnail_small {
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.moonstone-thumbnail_preview {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.moonstone-thumbnail_icon {
    width: 16px;
    height: 16px;
}
