.moonstone-pill {
    width: auto;
    height: auto;
    padding: 0 var(--spacing-nano);

    border-radius: var(--radius_small);
    background-color: var(--color-gray_light40);

    &.moonstone-pill_reversed {
        color: var(--color-light);
    }
}
