@mixin font-face($fontKey, $variant) {
    @if map-has-key($fontKey, $variant) {
        $font-props: map-get($fontKey, $variant);
        /* stylelint-disable-next-line  */
        @if map-has-key($font-props, 'weight') {
            font-weight: map-get($font-props, 'weight');
        }

        font-family: map-get($fontKey, 'font-family');
        src:
            url("#{map-get($fontKey,'path')}#{map-get($font-props,'file')}")
            format("#{map-get($fontKey, 'format')}");
        /* stylelint-disable-next-line  */
        @if map-has-key($font-props, 'style') {
            font-style: map-get($font-props, 'style');
        }
    }
    @else {
        @warn "Unknown `#{$variant}` in `#{map-get($fontKey, 'font-family')}`. Use:`#{map-keys($fontKey)}`";
    }
}

@mixin build-class-list($font-family, $prefix, $styles) {
    @each $name, $props in $styles {
        %#{$prefix}#{$name},
        .#{$prefix}#{$name} {
            @each $key, $value in $props {
                #{$key}: $value;
            }

            font-family: $font-family;
        }
    }
}
