.moonstone-paper {
    border-radius: var(--moon-radius);
    background-color: var(--moon-color-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;

    & + .moonstone-paper {
        margin-top: var(--moon-spacing-large);
    }
}

.moonstone-paper_padding {
    padding: var(--moon-spacing-large);
}
