@use '../../../utils/index.scss';

$cell-height: 48px;

.moonstone-tableCell {
    gap: var(--moon-spacing-nano);
    height: $cell-height;
    padding-right: var(--moon-spacing-medium);
    padding-left: var(--moon-spacing-medium);
    overflow-y: auto;

    //noinspection CssUnknownProperty
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: var(--moon-spacing-nano);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--moon-color-gray_light);
    }
}
