.moonstone-tableHeadCell_sort {
    color: var(--color-gray_light);
}

.moonstone-tableHeadCell_sortActive {
    color: var(--color-accent);
}

.moonstone-tableHeadCell {
    font-weight: bold;
}

.moonstone-tableHeadCell_sortable {
    cursor: pointer;

    &:hover {
        .moonstone-tableHeadCell_sort {
            color: var(--color-gray);
        }

        .moonstone-tableHeadCell_sortActive {
            color: var(--color-accent_dark);
        }
    }
}
