@use '../../../utils/index.scss';

.moonstone-TableCell {
    gap: var(--spacing-nano);
    padding-right: var(--spacing-medium);
    padding-left: var(--spacing-medium);

    overflow-y: auto;

    //noinspection CssUnknownProperty
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: var(--spacing-nano);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray_light);
    }
}

.moonstone-verticalAlignTop {
    vertical-align: top;
}

.moonstone-verticalAlignCenter {
    vertical-align: middle;
}

.moonstone-verticalAlignBottom {
    vertical-align: bottom;
}
