$tree-offset: -20px; // chevron size (16px) + gap (4px)

.moonstone-tableStructuredCell_expandable {
    gap: var(--spacing-nano);

    height: -webkit-fill-available; // firefox fixes
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    height: stretch;
    margin-right: $tree-offset;

    transform: translateX($tree-offset);
    cursor: pointer;
}

.moonstone-tableStructuredCell_scrollable {
    height: -webkit-fill-available; // firefox fixes
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    height: stretch;

    scrollbar-width: thin;

    > * {
        overflow: clip;
    }

    &:hover {
        /* stylelint-disable-next-line declaration-no-important */
        overflow-x: auto !important;

        // box-shadow: var(--color-gray20) -1px 0 3px 0 inset;

        > * {
            /* stylelint-disable-next-line declaration-no-important */
            text-overflow: unset !important;
            /* stylelint-disable-next-line declaration-no-important */
            overflow: visible !important;
        }
    }
}
