.moonstone-tableCellHead_sort {
    color: var(--color-gray_light);

    visibility: hidden;

    &:hover {
        color: var(--color-gray);
    }
}

.moonstone-TableHeadCell:hover .moonstone-tableCellHead_sort {
    visibility: visible;
}

.moonstone-tableCellHead_sortActive {
    color: var(--color-accent);

    visibility: visible;

    &:hover {
        color: var(--color-accentDark);
    }
}

.moonstone-TableHeadCell {
    font-weight: bold;
}
