$tree-offset: -20px; // chevron size (16px) + gap (4px)

.moonstone-tableStructuredCell_expandable {
    transform: translateX($tree-offset);
}

.moonstone-tableStructuredCell_toggle {
    display: inline-flex;
    padding: 0;

    border: 0;
    background: transparent;
    cursor: pointer;
}

.moonstone-tableStructuredCell_content {
    gap: var(--spacing-nano);

    /* stylelint-disable-next-line declaration-property-unit-disallowed-list */
    height: 100%;
}
