%variant_default {
    color: var(--color-gray_dark);

    border: 1px solid var(--color-accent);
    background-color: var(--color-white);

    &:hover {
        color: var(--color-accent);

        border-color: var(--color-accent);
    }

    &:focus-visible {
        color: var(--color-accent_dark);

        border-color: var(--color-accent_dark);
    }

    &:active {
        color: var(--color-white);

        border-color: var(--color-white);
        background-color: var(--color-accent);
    }

    &:disabled {
        color: var(--color-gray_dark);

        border-color: var(--color-gray_light);
        background-color: var(--color-gray_light);

        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.4;

        &.moonstone-reverse {
            color: var(--color-white);

            background-color: var(--color-gray);
        }
    }

    &.moonstone-button_accent {
        color: var(--color-white);

        border-color: var(--color-accent);
        background-color: var(--color-accent);

        &:hover {
            border-color: var(--color-accent_dark);
            background-color: var(--color-accent_dark);
        }

        &:focus-visible {
            color: var(--color-white);

            border-color: transparent;
            background-color: var(--color-accent_dark);
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-accent_dark_contrast);
            background-color: var(--color-accent_dark_contrast);
        }

        &:disabled {
            color: inherit;

            border-color: var(--color-gray_light);
            background-color: var(--color-gray_light);
        }
    }

    &.moonstone-button_danger {
        color: var(--color-white);

        border-color: var(--color-danger);
        background-color: var(--color-danger);

        &:hover,
        &:focus-visible,
        &:active {
            color: var(--color-white);

            border-color: var(--color-danger_dark);
            background-color: var(--color-danger_dark);
        }

        &:disabled {
            color: inherit;

            border-color: var(--color-gray_light);
            background-color: var(--color-gray_light);
        }
    }
}
