@use "../../../utils/mixins" as *;

@mixin default_disabled {
    color: var(--moon-color-gray_dark);

    border-color: var(--moon-color-gray_light);
    background-color: var(--moon-color-gray_light);
}

@mixin variant_default {
    color: var(--moon-color-gray_dark);

    border: 1px solid var(--moon-color-gray_dark);
    background-color: var(--moon-color-white);

    &:disabled {
        @include default_disabled;
    }

    &:hover:not(:disabled) {
        color: var(--moon-color-accent);

        border-color: var(--moon-color-accent);
    }

    &:focus-visible:not(:disabled) {
        @extend %is-focused;
    }

    &:active:not(:disabled) {
        color: var(--moon-color-white);

        border-color: var(--moon-color-white);
        background-color: var(--moon-color-accent);
    }

    &.moonstone-reverse {
        border-color: var(--moon-color-light);

        background-color: var(--moon-color-light);

        &:disabled {
            color: var(--moon-color-white);

            border-color: var(--moon-color-gray);
            background-color: var(--moon-color-gray);
        }
    }
}

@mixin variant_default_accent {
    color: var(--moon-color-white);

    border: 1px solid var(--moon-color-accent);
    background-color: var(--moon-color-accent);

    &:disabled {
        @include default_disabled;
    }

    &:hover:not(:disabled) {
        color: var(--moon-color-light);

        border-color: var(--moon-color-accent_dark);
        background-color: var(--moon-color-accent_dark);
    }

    &:focus-visible:not(:disabled) {
        @extend %is-focused;
    }

    &:active:not(:disabled) {
        color: var(--moon-color-white);

        border-color: var(--moon-color-accent_dark_contrast);
        background-color: var(--moon-color-accent_dark_contrast);
    }
}

@mixin variant_default_danger {
    color: var(--moon-color-white);

    border: 1px solid var(--moon-color-danger);
    background-color: var(--moon-color-danger);

    &:disabled {
        @include default_disabled;
    }

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled),
    &:active:not(:disabled) {
        color: var(--moon-color-white);

        border-color: var(--moon-color-danger_dark);
        background-color: var(--moon-color-danger_dark);
    }
}
