%variant_ghost {
    border: 1px solid transparent;
    background-color: transparent;

    &.color_default {
        color: var(--color-gray);

        &:hover {
            color: var(--color-accent);

            border-color: transparent;
            background-color: var(--color-gray_light40);
        }

        &:focus {
            color: var(--color-accent_dark);

            border-color: var(--color-accent_dark);
            background-color: transparent;
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-accent);
            background-color: var(--color-accent);
        }

        &.reverse {
            color: var(--color-white);

            &:hover {
                border-color: transparent;
                background-color: var(--color-accent_dark60);
            }

            &:focus {
                border-color: var(--color-white);
                background-color: transparent;
            }

            &:active {
                border-color: transparent;
                background-color: var(--color-accent);
            }
        }
    }

    &.color_accent {
        color: var(--color-accent);

        &:hover {
            color: var(--color-accent_dark);

            border-color: transparent;
            background-color: var(--color-gray_light40);
        }

        &:focus {
            color: var(--color-accent_dark);

            border-color: var(--color-accent_dark);
            background-color: transparent;
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-accent_dark);
            background-color: var(--color-accent_dark);
        }

        &.reverse {
            &:hover {
                color: var(--color-white);

                border-color: transparent;
                background-color: var(--color-accent40);
            }

            &:focus {
                color: var(--color-white);

                border-color: var(--color-white);
                background-color: var(--color-accent60);
            }

            &:active {
                color: var(--color-white);

                border-color: transparent;
                background-color: var(--color-accent_dark);
            }
        }
    }

    &.color_danger {
        color: var(--color-danger);

        &:hover {
            color: var(--color-danger);

            border-color: transparent;
            background-color: var(--color-gray_light40);
        }

        &:focus {
            color: var(--color-danger);

            border-color: var(--color-danger);
        }

        &:active {
            color: var(--color-white);

            background-color: var(--color-danger);
        }

        &.reverse {
            &:hover {
                color: var(--color-white);

                background-color: var(--color-danger40);
            }

            &:focus {
                color: var(--color-white);

                border-color: var(--color-white);
                background-color: var(--color-danger60);
            }

            &:active {
                color: var(--color-white);

                background-color: var(--color-danger);
            }
        }
    }

    &.reverse,
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }

    &:disabled,
    &:hover:disabled,
    &:focus:disabled,
    &:active:disabled {
        color: var(--color-gray);

        border-color: transparent;
        background-color: transparent;

        &.reverse {
            color: var(--color-gray_light);

            border-color: transparent;
            background-color: transparent;
        }
    }
}
