%variant_ghost_disabled {
    color: var(--color-gray_dark);

    border-color: transparent;
    background-color: transparent;
    opacity: 0.4;
}

%variant_ghost {
    border: 1px solid transparent;
    background-color: transparent;

    &.moonstone-color_default {
        color: var(--color-gray_dark);

        &:hover:not(:disabled) {
            color: var(--color-accent_dark);

            border-color: transparent;
            background-color: var(--color-gray_light_plain20);
        }

        &:active:not(:disabled) {
            border-color: transparent;
            background-color: var(--color-gray_light_plain60);
        }

        &:disabled {
            @extend %variant_ghost_disabled;
        }

        &.moonstone-reverse {
            color: var(--color-light);

            &:hover:not(:disabled) {
                color: var(--color-white);

                border-color: transparent;
                background-color: var(--color-gray_light20);
            }

            &:active:not(:disabled) {
                color: var(--color-white);

                border-color: transparent;
                background-color: var(--color-gray_light40);
            }
        }
    }

    &.moonstone-color_accent {
        color: var(--color-accent);

        &:hover:not(:disabled) {
            color: var(--color-accent_dark_contrast);

            border-color: transparent;
            background-color: var(--color-accent_light_plain20);
        }

        &:active:not(:disabled) {
            color: var(--color-accent_dark_contrast);

            border-color: transparent;
            background-color: var(--color-accent_light_plain40);
        }

        &:disabled {
            @extend %variant_ghost_disabled;
        }

        &.moonstone-reverse {
            color: var(--color-accent_light_plain60);

            &:hover:not(:disabled) {
                color: var(--color-accent_light_plain60);

                border-color: transparent;
                background-color: var(--color-accent20);
            }

            &:active:not(:disabled) {
                color: var(--color-accent_light);

                border-color: transparent;

                background-color: var(--color-accent40);
            }
        }
    }

    &.moonstone-color_danger {
        color: var(--color-danger);

        &:hover:not(:disabled) {
            color: var(--color-danger_dark);

            border-color: transparent;
            background-color: var(--color-danger_plain20);
        }

        &:active:not(:disabled) {
            color: var(--color-danger_dark);

            border-color: transparent;
            background-color: var(--color-danger_plain40);
        }

        &:disabled {
            @extend %variant_ghost_disabled;
        }

        &.moonstone-reverse {
            color: var(--color-danger_plain60);

            &:hover:not(:disabled) {
                color: var(--color-danger_plain20);

                background-color: var(--color-danger40);
            }

            &:active:not(:disabled) {
                color: var(--color-white);

                border-color: transparent;
                background-color: var(--color-danger60);
            }
        }
    }

    &.moonstone-reverse:disabled {
        color: var(--color-gray_light);

        border-color: transparent;
        background-color: transparent;
    }
}
