%variant_outlined {
    color: var(--color-gray);

    border: 1px solid var(--color-gray);
    background-color: var(--color-white);

    &.color_default {
        &:hover {
            color: var(--color-accent);

            border-color: var(--color-accent);
        }

        &:focus {
            color: var(--color-accent_dark);

            border-color: var(--color-accent_dark);
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-white);
            background-color: var(--color-accent);
        }
    }

    &.color_accent {
        color: var(--color-accent);

        border-color: var(--color-accent);

        &:hover,
        &:focus {
            color: var(--color-accent_dark);

            border-color: var(--color-accent_dark);
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-white);
            background-color: var(--color-accent_dark);
        }
    }

    &.color_danger {
        color: var(--color-danger);

        border-color: var(--color-danger);

        &:hover,
        &:focus {
            color: var(--color-danger);

            border-color: var(--color-danger);
        }

        &:active {
            color: var(--color-white);

            border-color: var(--color-white);
            background-color: var(--color-danger);
        }
    }

    &:disabled,
    &:hover:disabled,
    &:focus:disabled,
    &:active:disabled {
        color: var(--color-gray);

        border-color: var(--color-gray);
        background-color: var(--color-white);

        &.reverse {
            color: var(--color-gray_light);

            border-color: var(--color-gray_light);
            background-color: transparent;
        }
    }
}
