.moonstone-tablePagination {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
    height: 64px;

    &.moonstone-marginRight32 {
        margin-right: 32px;
    }

    &.moonstone-marginRight16 {
        margin-right: 16px;
    }
}
