@use '../../utils/index';

$minHeight-size: 50px;

.moonstone-textarea {
    display: block;
    width: 100%; // CSS trick to force element to shrink
    min-height: $minHeight-size;
    margin: 0; // Reset for Safari
    padding: var(--spacing-nano) var(--spacing-small);

    border: var(--border-selector);
    border-radius: var(--radius-selector);
    outline: none;
    resize: none;

    -webkit-tap-highlight-color: transparent;

    &.moonstone-textarea_resizable {
        resize: vertical;
    }

    // Reset Firefox invalid required input style
    &:invalid {
        border: none;
        box-shadow: none;
    }

    &::placeholder {
        font-style: italic;
        color: var(--color-gray_dark60);

        opacity: 1;
    }

    &:not(:disabled, :read-only) {
        &:hover {
            border: var(--border-selector_hover);
        }
        
        &:focus {
            border: var(--border-selector_focus);
        }
    }

    &:disabled {
        color: var(--color-gray);

        background-color: var(--color-gray_light40);
        cursor: default;
        opacity: 1; // Reset iOS opacity
    }
}
