$accordionHeader_height: 48px;

.accordionItem {
    display: flex;
    flex-direction: column;
    min-height: $accordionHeader_height;

    border-top: 1px solid var(--color-gray_light);
    border-bottom: 1px solid var(--color-gray_light);

    transition: all ease-in-out 0.7s;
    overflow: hidden;

    &:only-child {
        border-bottom: none;
    }

    & + .accordionItem {
        border-top: 0;
    }
}

//---
// Header
//---
.accordionItem_header {
    width: 100%;
    height: $accordionHeader_height;

    padding: 0 var(--spacing-medium);

    background-color: var(--color-gray_light40);

    cursor: pointer;

    &:active {
        background-color: var(--color-gray40) !important;
    }

    &:focus,
    &:not(.accordionItem_header_selected):hover {
        color: var(--color-dark);

        background-color: var(--color-gray_light);
    }
}

.accordionItem_header_selected {
    border-bottom: 1px solid var(--color-gray_light);

    cursor: default;

    &:focus {
        color: var(--color-light);

        background-color: var(--color-dark60);
    }
}

.accordionItem_iconContainer {
    margin-right: var(--spacing-small);
}

//---
// Content
//---
.accordionItem_content {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.accordionItem_reversed {
    border-color: var(--color-gray);

    /* stylelint-disable no-descending-specificity */
    .accordionItem_header {
        color: var(--color-light);

        background-color: var(--color-dark60);

        &:focus,
        &:not(.accordionItem_header_selected):hover {
            color: var(--color-light);

            background-color: var(--color-gray40);
        }

        &:active {
            background-color: var(--color-black) !important;
        }
    }

    .accordionItem_header_selected {
        color: var(--color-light);

        border-color: var(--color-gray);
        background-color: var(--color-dark60);
    }
}

// Animation
.accordionItem_opened {
    flex: 1;

    &:last-child {
        border-bottom: 0;
    }

    .accordionItem_content {
        flex: 1;

        height: auto;
    }
}
