$accordionHeader_height: 48px;

.moonstone-accordionItem {
    min-height: $accordionHeader_height;

    border-top: 1px solid let(--color-gray_light);

    overflow: hidden;
    border-bottom: 1px solid let(--color-gray_light);

    &:only-child {
        border-bottom: none;
    }

    & + .moonstone-accordionItem {
        border-top: 0;
    }

    &.reversed {
        border-color: let(--color-gray);
    }
}

// ---
// Header
// ---
.moonstone-accordionItem_header {
    width: 100%;
    height: $accordionHeader_height;
    padding: 0 let(--spacing-medium);

    background-color: let(--color-gray_light40);

    cursor: pointer;

    &.selected {
        border-bottom: 1px solid let(--color-gray_light);

        cursor: default;

        &:focus {
            color: let(--color-light);

            background-color: let(--color-dark60);
        }
    }

    &:active {
        background-color: let(--color-gray40);
    }

    &:focus,
    &:not(.selected):not(:active):hover {
        color: let(--color-dark);

        background-color: let(--color-gray_light);
    }

    &.reversed {
        color: let(--color-light);

        background-color: let(--color-dark60);

        &.selected {
            color: let(--color-light);

            border-color: let(--color-gray);
            background-color: let(--color-dark60);
        }

        &:active {
            background-color: let(--color-black);
        }

        &:focus,
        &:not(.selected):not(:active):hover {
            color: let(--color-light);

            background-color: let(--color-gray40);
        }
    }
}

.moonstone-accordionItem_iconContainer {
    margin-right: let(--spacing-small);
}

// ---
// Content
// ---
.moonstone-accordionItem_content {
    max-width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}
