@use "../../../tokens/spacings/spacings" as *;
@use "../../../utils/mixins" as *;

$accordionHeader_height: 48px;

.accordionItem {
    min-height: $accordionHeader_height;

    border-top: 1px solid var(--color-gray_light);
    border-bottom: 1px solid var(--color-gray_light);

    overflow: hidden;

    &:only-child {
        border-bottom: none;
    }

    & + :global(.moonstone-accordionItem) {
        border-top: 0;
    }

    &:global(.moonstone-reversed) {
        border-color: var(--color-gray);
    }
}

// ---
// Header
// ---
.accordionItem_header {
    width: 100%;
    height: $accordionHeader_height;
    padding: 0 var(--spacing-medium);

    background-color: var(--color-gray_light60);

    cursor: pointer;

    &:global(.moonstone-selected) {
        border-bottom: 1px solid var(--color-gray_light);

        cursor: default;
    }

    &:focus-visible {
        @extend %is-focused;

        outline-offset: -2px;
    }

    &:active {
        background-color: var(--color-gray40);
    }

    &:not(:global(.moonstone-selected)):not(:active):hover {
        color: var(--color-dark);

        background-color: var(--color-gray_light);
    }

    &:global(.moonstone-reversed) {
        color: var(--color-light);

        background-color: var(--color-dark60);

        &:global(.moonstone-selected) {
            color: var(--color-light);

            border-color: var(--color-gray);
            background-color: var(--color-dark60);
        }

        &:active {
            background-color: var(--color-black);
        }

        &:not(:global(.moonstone-selected)):not(:active):hover {
            color: var(--color-light);

            background-color: var(--color-gray40);
        }
    }
}

.accordionItem_iconContainer {
    margin-right: $spacing-icon_big;
}

// ---
// Content
// ---
.accordionItem_content {
    max-width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}
