

/* FONTS ////////////////////////////*/

@import "../tokens/fonts.scss";
@font-face {
    font-family: font-file("nunito-sans", "font-family"), font-file("nunito-sans", "font-family-alternate");
    src: url($font-path + font-file("nunito-sans", "regular")) format(font-file("nunito-sans", "format"));
    font-weight: bold;
}

* {
    font-family: "Nunito Sans";
}



/* COLORS ///////////////////////////*/
@import "../tokens/colors.scss";
$color-brand: $blue-dark;
$color-primary: $blue;
$color-secondary: red;
$color-success: red;
$color-danger: red;
$color-warning: red;
$color-info: red;
$color-white: $white;