/* FONTS ////////////////////////////*/
@import '../tokens/fonts.scss';
$font-family: 'nunito-sans';
@font-face {
    @include font-face($nunito-sans, 'light');
}
@font-face {
    @include font-face($nunito-sans, 'regular');
}
@font-face {
    @include font-face($nunito-sans, 'semi-bold');
}
* {
    font-family: 'Nunito Sans', map-get($nunito-sans, 'font-family-alternate');
    font-weight: normal;
    font-style: normal;
}

/* COLORS /////////////////////////// */
@import '../tokens/colors.scss';

$color-brand: $blue-dark;
$color-primary: $blue;
$color-secondary: red;
$color-success: red;
$color-danger: red;
$color-warning: red;
$color-info: red;
$color-white: $white;
