@import "../tokens/colors.scss";

/* TEXT /////////////////////////*/
$text-primary: none;
$text-secondary: none;
$text-success: none;
$text-danger: none;
$text-warning: none;
$text-info: none;
$text-light: $white;
$text-dark: none;
$text-body: none;
$text-muted: none;
$text-white: $white;
$text-black-50: none;
$text-white-50: none;


/* BACKGROUND ///////////////////*/
$bg-primary: $blue;
$bg-secondary: none;
$bg-success: none;
$bg-danger: none;
$bg-warning: none;
$bg-info: none;
$bg-light: none;
$bg-dark: none;
$bg-white: $white;
$bg-transparent: none;