/* FONTS ////////////////////////////*/
@import '../tokens/fonts.scss';

@font-face {
    @include font-face($nunito-sans, 'light');
}
@font-face {
    @include font-face($nunito-sans, 'regular');
}
@font-face {
    @include font-face($nunito-sans, 'semi-bold');
}

$mds-font-size: 1rem !default;
$mds-font-line-height: 1 !default;
$mds-font-styles:(
    giga:( font-size: $mds-font-size * 4.75, font-weight: 300, line-height: $mds-font-line-height * 1.25 ),
    mega:( font-size: $mds-font-size * 3.375, font-weight: 300, line-height: $mds-font-line-height * 1.25 ),
    alpha:( font-size: $mds-font-size * 2.25, font-weight: 300, line-height: $mds-font-line-height * 1.25 ),
    beta:( font-size: $mds-font-size * 1.75, font-weight: 300, line-height: $mds-font-line-height * 1.25 ),
    gamma:( font-size: $mds-font-size * 1.25, font-weight: 300, line-height: $mds-font-line-height * 1.25 ),
    delta:( font-size: $mds-font-size * 1.125, font-weight: 600, line-height: $mds-font-line-height * 1.25 ),
    epsilon:( font-size: $mds-font-size * 1, font-weight: 600, line-height: $mds-font-line-height * 1.25 ),
    zeta:( font-size: $mds-font-size * 0.875, font-weight: 600, line-height: $mds-font-line-height * 1.25 ),
    iota:( font-size: $mds-font-size * 0.875, font-weight: 400, line-height: $mds-font-line-height * 1.25 ),
    omega:( font-size: $mds-font-size * 0.75, font-weight: 600, line-height: $mds-font-line-height * 1.25 ),
    caption:( font-size: $mds-font-size * 0.75, font-weight: 400, line-height: $mds-font-line-height * 1.5 ),
    legal:( font-size: $mds-font-size * 0.6875, font-weight: 400, line-height: $mds-font-line-height * 1.5 ),
    p:( font-size: $mds-font-size * 1, font-weight: 400, line-height: $mds-font-line-height * 1.5 )
)!default;

*{
    font-family: "Nunito Sans", map-get($nunito-sans, 'font-family-alternate');
    font-weight: normal;
    font-style: normal;
}
@include build-class-list( map-get($nunito-sans, 'font-family'), "font-", $mds-font-styles);



/* COLORS ///////////////////////////*/
@import '../tokens/colors/colors_material.scss';
$mds-color-brand: $mdc-color-blue-700;
$mds-color-primary: $mdc-color-blue-700;
$mds-color-secondary: $mdc-color-deep-purple-700;
$mds-color-success: $mdc-color-green-500;
$mds-color-danger: $mdc-color-red-A700;
$mds-color-warning: $mdc-color-orange-700;;
$mds-color-info: $mdc-color-blue-700;
$mds-color-white: $mdc-color-white;
$mds-color-black: $mdc-color-black;
