@font-face {
    font-family: 'Nunito';
    src: url('./Nunito/Nunito-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url('./Nunito/Nunito-Bold.ttf');
    font-weight: 600;
}
