@import '../../utils/index';

.moonstone-listItem {
    @include truncate;

    width: 100%;
    padding: var(--spacing-nano) var(--spacing-small);

    list-style: none;
}

.moonstone-listItem_iconStart {
    display: flex;
    margin-right: var(--spacing-nano);
}

.moonstone-listItem_iconEnd {
    display: flex;
    margin-left: var(--spacing-nano);
}
