.moonstone-listItem {
    padding: 4px 8px;

    list-style: none;
}

.moonstone-listItem_iconStart {
    display: flex;
    margin-right: var(--spacing-nano);
}

.moonstone-listItem_iconEnd {
    display: flex;
    margin-left: var(--spacing-nano);
}
