.tableCellActions {
    position: relative;
    overflow: visible;

    gap: var(--moon-spacing-small);
}

.displayHover {
    position: absolute;
    top: 0;
    right: 56px;
    bottom: 0;
    z-index: 5;

    gap: var(--moon-spacing-small);
    padding: 0 var(--moon-spacing-small);

    background: var(--moon-row-background);

    visibility: var(--moon-cellAction-visibility, hidden);
}
