.moonstone-tableCellActions {
    gap: var(--moon-spacing-small);
}

.moonstone-tableCellActions_displayHover {
    gap: var(--moon-spacing-small);

    visibility: hidden;

    .moonstone-tableRow:hover &,
    .moonstone-tableRow:focus-within & {
        visibility: visible;
    }
}
