.moonstone-tableCellActions {
    gap: 8px;
}

.moonstone-tableCellActions_displayHover {
    gap: 8px;

    visibility: hidden;

    .moonstone-tableRow:hover &,
    .moonstone-tableRow:focus-within & {
        visibility: visible;
    }
}
