.moonstone-switch_icon {
    position: absolute;

    width: 20px;
    height: 20px;

    border-radius: 100%;
    background-color: var(--switch-icon_bg);

    transition: all 0.2s ease-out;

    pointer-events: none;
}

.moonstone-switch {
    --switch-input_bg: var(--color-gray_light);
    --switch-icon_bg: var(--color-gray);

    position: relative;

    width: 38px;
    height: 20px;

    &:hover {
        --switch-icon_bg: var(--color-gray_dark);
    }

    .moonstone-switch_icon {
        transform: translateX(0);
    }
}

.moonstone-switch_checked {
    --switch-icon_bg: var(--color-accent_dark);
    --switch-input_bg: var(--color-accent_light20);

    &:hover {
        --switch-icon_bg: var(--color-accent_dark_contrast);
    }

    &.moonstone-switch_disabled {
        --switch-icon_bg: var(--color-accent_dark);
        --switch-input_bg: var(--color-accent_light40);

        opacity: 50%;

        pointer-events: none;
    }

    .moonstone-switch_icon {
        transform: translateX(18px);
    }
}

.moonstone-switch_input {
    position: absolute;
    top: 2px;

    width: 35px;
    height: 16px;
    margin: 0;
    padding: 0;

    appearance: none;

    border-radius: 40px;
    outline: none;

    background-color: var(--switch-input_bg);

    cursor: pointer;

    // Only triggered when the input is focus with tab
    &:focus-visible {
        border: 2px solid var(--color-accent_light);
    }
}

.moonstone-switch_disabled {
    opacity: 50%;

    pointer-events: none;
}
