.moonstone-switch {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 20px;

    &>.moonstone-switch_icon {
        animation: switchSlide 0.1s linear reverse 0.05s;
    }

    &:hover {
        &>.moonstone-switch_icon {
            background-color: var(--color-gray_dark);
        }
    }

    &_disabled {
        opacity: 50%;
        pointer-events: none;
    }

    &_checked {
        &>.moonstone-switch_input {
            background-color: var(--color-accent_light20);
        }

        &>.moonstone-switch_icon {
            background-color: var(--color-accent_dark);
            animation: switchSlide 0.1s linear forwards 0.05s;
        }

        &:hover {
            &>.moonstone-switch_icon {
                background-color: var(--color-accent_dark_contrast);
            }
        }

        &.moonstone-switch_disabled {
            opacity: 50%;
            pointer-events: none;

            &>.moonstone-switch_input {
                background-color: var(--color-accent_light40);
            }

            &>.moonstone-switch_icon {
                background-color: var(--color-accent_dark);
            }
        }
    }

    @keyframes switchSlide {
        to {
            -webkit-transform: translateX(18px);
            -ms-transform: translateX(18px);
            transform: translateX(18px);
        }
    }
}

.moonstone-switch_input {
    position: absolute;
    width: 35px;
    height: 16px;
    border-radius: 40px;
    top: 2px;

    cursor: pointer;

    appearance: none;

    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray_light);

    // Only triggered when the input is focus with tab
    &:focus-visible {
        border: 2px solid var(--color-accent_light);
    }
}

.moonstone-switch_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--color-gray);
    pointer-events: none;
}