@import './fonts/fonts.scss';

.typography {
    font-family: 'Nunito', sans-serif;
}

.typography_page {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.typography_section {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.typography_regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.typography_caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.typography_strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}
