@import '~/styles/shared/all';

.secondaryNav {
    height: 100%;

    color: $color-light;

    background: $color-gray_dark;
}

.secondaryNav_header {
    @include truncate;

    display: block;
    padding: spacing('large');

    text-align: center;
    text-transform: capitalize;
}
