@import '../../utils/truncate';

.secondaryNav {
    color: var(--color-light);

    background: var(--color-gray_dark);
}

.secondaryNav_header {
    @include truncate;

    display: block;
    padding: var(--spacing-large);

    text-align: center;
    text-transform: capitalize;
}
