@import 'variants/ghost';

.tab-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 var(--spacing-nano);
    padding: var(--spacing-nano) var(--spacing-small);

    font-family: inherit;

    border-radius: 4px;

    outline: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        box-shadow: 0 var(--spacing-nano) var(--spacing-small) var(--color-dark20);
    }

    &.size_big {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    &.size_small {
        padding: 0 var(--spacing-nano);
    }

    &.variant_ghost {
        @extend %variant_ghost;
    }

    &.icon-tab-item {
        padding: var(--spacing-small);

        border-radius: 40px;

        &.size_small {
            padding: var(--spacing-nano);
        }

        &.size_default {
            padding: var(--spacing-nano);
        }
    }

    &.icon {
        svg {
            margin-right: var(--spacing-nano);
        }

        &.size_big svg {
            margin-right: var(--spacing-small);
        }
    }

    &:disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.3;
    }
}
