$spacing-icon: var(--spacing-pico);
$spacing-icon_big: var(--spacing-nano);

:root {
    --spacing-pico: 2px;
    --spacing-nano: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-big: 40px;
    --spacing-huge: 56px;
}
