$spacings: (
    "nano": var(--spacing-nano),
    "small": var(--spacing-small),
    "medium": var(--spacing-medium),
    "large": var(--spacing-large),
    "big": var(--spacing-big),
    "huge": var(--spacing-huge)
);

@function spacing($spacingName) {
    @if map-has-key($spacings, $spacingName) {
        @return map-get($spacings, $spacingName);
    }

    @warn "The key #{$spacingName} is not in the map ’$spacingName’";

    @return null;
}

@mixin itemValue($value) {
    &::after {
        content: "#{$value}";

        position: absolute;
        bottom: var(--spacing-small);
        left: 0;

        color: var(--color-gray60);
    }
}

@each $name, $spacingValue in $spacings {
    .spacing-#{$name} {
        @include itemValue($spacingValue);

        width: $spacingValue;
        height: $spacingValue;

        background-color: var(--color-accent);
    }
}
