$spacing-icon: var(--moon-spacing-pico);
$spacing-icon_big: var(--moon-spacing-nano);

:root {
    --moon-spacing-pico: 2px;
    --moon-spacing-nano: 4px;
    --moon-spacing-small: 8px;
    --moon-spacing-medium: 16px;
    --moon-spacing-large: 24px;
    --moon-spacing-big: 40px;
    --moon-spacing-huge: 56px;
}
