@use "../../../globals/variants";
@use "../../../tokens/spacings/spacings" as *;
@use "../../../utils/mixins" as *;

$big-tab-height: 32px;
$selected-line-spacing: 6px;
$selected-line-spacing-big: 20px;

.moonstone-tabItem {
    width: fit-content;
    margin: 0 var(--moon-spacing-nano) #{$selected-line-spacing};
    padding: var(--moon-spacing-nano) var(--moon-spacing-small);

    color: var(--moon-color-gray);

    border: 1px solid transparent;

    border-radius: var(--moon-radius);
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }

    &:hover:not(:disabled) {
        color: var(--moon-color-accent_dark);

        background-color: var(--moon-color-gray_light_plain20);
    }

    &:focus-visible:not(:disabled) {
        @extend %is-focused;
    }

    &:active:not(:disabled) {
        background-color: var(--moon-color-gray_light_plain60);
    }

    &.moonstone-reverse {
        color: var(--moon-color-light);

        &:focus-visible:not(:disabled) {
            @extend %is-focused;
        }

        &:hover:not(:disabled) {
            color: var(--moon-color-light);

            background-color: var(--moon-color-gray40);
        }

        &:active:not(:disabled) {
            color: var(--moon-color-white);

            background-color: var(--moon-color-gray_light40);
        }
    }
}

.moonstone-tabItem_icon {
    margin-right: $spacing-icon;
}

.moonstone-tabItem_big {
    height: $big-tab-height;
    margin-bottom: calc($selected-line-spacing-big + var(--moon-spacing-small));

    .moonstone-tabItem_icon {
        margin-right: $spacing-icon_big;
    }

    &.moonstone-tabItem_selected::after {
        bottom: calc(-1 * #{$selected-line-spacing-big});
    }
}

.moonstone-tabItem_noLabel {
    padding: var(--moon-spacing-small);

    &.moonstone-tabItem_default {
        padding: $spacing-icon;
    }
}

.moonstone-tabItem_selected {
    position: relative;

    color: var(--moon-color-accent);

    border-color: transparent;
    cursor: default;

    pointer-events: none;

    &::after {
        position: absolute;
        bottom: calc(-1 * #{$selected-line-spacing});

        width: 100%;
        height: 2px;

        background-color: var(--moon-color-accent);
        content: "";
    }
}
