@use "../../../globals/variants";
@use "../../../tokens/spacings/spacings" as *;

$big-tab-height: 32px;
$selected-line-spacing: 6px;
$selected-line-spacing-big: 20px;

.moonstone-tabItem {
    @extend %variant_ghost;

    width: fit-content;
    margin: 0 var(--spacing-nano) calc(#{$selected-line-spacing} - 1px);
    padding: var(--spacing-nano) var(--spacing-small);

    border-radius: var(--radius);

    outline: none;
    cursor: pointer;
}

.moonstone-tabItem_icon {
    margin-right: $spacing-icon;
}

.moonstone-tabItem_big {
    height: $big-tab-height;

    .moonstone-tabItem_icon {
        margin-right: $spacing-icon_big;
    }

    &.moonstone-tabItem_selected::after {
        bottom: calc(-1 * #{$selected-line-spacing-big});
    }
}

.moonstone-tabItem_noLabel {
    padding: var(--spacing-small);

    &.moonstone-tabItem_default {
        padding: $spacing-icon;
    }
}

.moonstone-tabItem_selected {
    position: relative;

    color: var(--color-accent);

    border-color: transparent;

    cursor: default;

    &::after {
        position: absolute;
        bottom: calc(-1 * #{$selected-line-spacing});

        width: 100%;
        height: 2px;

        background-color: var(--color-accent);
        content: "";
    }
}
