.moonstone-resizable_handle {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* stylelint-disable-next-line declaration-no-important */
    width: 3px !important;
    right: -3px !important;

    transition: color 0.2s ease-in;

    &:active,
    &:hover {
        color: var(--color-accent);
    }
}

.moonstone-resizable_handle_icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}
