.moonstone-fieldset,
.moonstone-dynamic-fieldset {
    margin: 0; // Reset default fieldset styles
    padding: 0; // Reset default fieldset styles
    padding-left: 32px;

    border: none; // Reset default fieldset styles
    border-left: 3px solid transparent;

    .moonstone-fieldset_helper {
        margin-top: 2px;
        padding-right: calc(var(--moon-spacing-large) + var(--moon-spacing-nano));

        opacity: 0.8;
    }

    .moonstone-fieldset_children {
        gap: var(--moon-spacing-large);
        margin-top: var(--moon-spacing-small);
    }

    & legend {
        width: 100%;
        padding: 0;
    }
}
