.moonstone-fieldset,
.moonstone-dynamic-fieldset {
    padding-left: 32px;

    border-left: 3px solid transparent;
}

.moonstone-fieldset_helper {
    margin-top: 2px;
    padding-right: calc(var(--spacing-large) + var(--spacing-nano));

    color: var(--color-gray_dark_plain60);
}

.moonstone-fieldset_children {
    gap: var(--spacing-large);
    margin-top: var(--spacing-small);
}
