.moonstone-breadcrumb {
    max-width: 100%;
    overflow: hidden;

    ol,
    ul, {
        margin: 0;
        padding: 0;

        list-style: none;
    }
}

.moonstone-breadcrumb_separator {
    color: var(--moon-color-gray60);
}
