.typography {
    &.page {
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
    }

    &.section {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    &.regular {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    &.caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &.strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    &.subtitle {
        font-weight: 400;
        font-size: 9px;
        line-height: 15px;
    }

    &.nowrap {
        white-space: nowrap;
    }
}
