// @import '../../fonts/fonts.scss';

.typography {
    font-family: 'Nunito', sans-serif;

    &.page {
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;
    }

    &.section {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    &.regular {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    &.caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    &.strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
}
