.moonstone-modalFooter {
    gap: var(--moon-spacing-medium);
    padding: var(--moon-spacing-medium);

    border-top: 1px solid var(--moon-color-gray_plain20);
    background-color: var(--moon-color-white);
}
