.moonstone-modal-footer {
    display: flex;
    gap: var(--spacing-medium);
    justify-content: end;
    align-items: center;
    height: min-content;
    padding: var(--spacing-medium);

    border-top: 1px solid var(--color-gray_plain20);
    background-color: var(--color-white);
}
