$blue-dark: #007cb0;
$blue: #00a0e3;

//$blue-light: #D3E9F3;
$white: #fff;
$black: #000;

/*
$red:#E0182D;
$red-light:#FFD3D8;

$green:#E0182D;
$green-light:#FFD3D8;

$orange:#E0182D;
$orange-light:#FFD3D8;
*/

body {
    padding: 0.5px;
}
