$blue-dark:#007CB0;
$blue: #00A0E3;
//$blue-light: #D3E9F3;

$white:#FFFFFF;
$black:#000000;

/*
$red:#E0182D;
$red-light:#FFD3D8;

$green:#E0182D;
$green-light:#FFD3D8;

$orange:#E0182D;
$orange-light:#FFD3D8;
*/