$font-path: '../../../assets/fonts/';

$nunito-sans: (
    font-family: 'Nunito Sans',
    font-family-alternate: sans-serif,
    format: 'truetype',
    /////////////////////////////
    black: 'NunitoSans-Black.ttf',
    black-italic: 'NunitoSans-BlackItalic.ttf',
    bold: 'NunitoSans-Bold.ttf',
    bold-italic: 'NunitoSans-BoldItalic.ttf',
    extra-bold: 'NunitoSans-ExtraBold.ttf',
    extra-bold-italic: 'NunitoSans-ExtraBoldItalic.ttf',
    extra-light: 'NunitoSans-ExtraLight.ttf',
    extra-light-italic: 'NunitoSans-ExtraLightItalic.ttf',
    light: 'NunitoSans-Light.ttf',
    light-italic: 'NunitoSans-LightItalic.ttf',
    regular: 'NunitoSans-Regular.ttf',
    regular-italic: 'NunitoSans-RegularItalic.ttf',
    semi-bold: 'NunitoSans-SemiBold.ttf',
    semi-bold-italic: 'NunitoSans-SemiBoldItalic.ttf',
) !default;

/*---------------------------------------------------------------------*/
$fonts: (
    nunito-sans: $nunito-sans,
) !default;

@function font-file($font, $variant) {
    @if map-has-key($fonts, $font) {
        $font-map: map-get($fonts, $font);
        @if map-has-key($font-map, $variant) {
            @return map-get($font-map, $variant);
        }
        @warn "Unknown `#{$variant}` in `#{$font}`. Use:`#{$font-map}`";
        @return null;
    }
    @warn "Unknown `#{$font}` in $fonts. Use:`#{$fonts}`";
    @return null;
}
