$font-path: '../../../assets/fonts/';
$nunito-sans: (
    font-family: 'Nunito Sans',
    font-family-alternate: sans-serif,
    format: 'truetype',
    extra-light: (
        file: 'NunitoSans-ExtraLight.ttf',
        weight: 200,
        style: 'normal'
    ),
    extra-light-italic: (
        file: 'NunitoSans-ExtraLightItalic.ttf',
        weight: 200,
        style: 'italic'
    ),
    light: (
        file: 'NunitoSans-Light.ttf',
        weight: 300,
        style: 'normal'
    ),
    light-italic: (
        file: 'NunitoSans-LightItalic.ttf',
        weight: 300,
        style: 'italic'
    ),
    regular: (
        file: 'NunitoSans-Regular.ttf',
        weight: 400,
        style: 'normal'
    ),
    regular-italic: (
        file: 'NunitoSans-RegularItalic.ttf',
        weight: 400,
        style: 'italic'
    ),
    semi-bold: (
        file: 'NunitoSans-SemiBold.ttf',
        weight: 600,
        style: 'normal'
    ),
    semi-bold-italic: (
        file: 'NunitoSans-SemiBoldItalic.ttf',
        weight: 600,
        style: 'italic'
    ),
    bold: (
        file: 'NunitoSans-Bold.ttf',
        weight: 700,
        style: 'normal'
    ),
    bold-italic: (
        file: 'NunitoSans-BoldItalic.ttf',
        weight: 700,
        style: 'italic'
    ),
    extra-bold: (
        file: 'NunitoSans-ExtraBold.ttf',
        weight: 800,
        style: 'normal'
    ),
    extra-bold-italic: (
        file: 'NunitoSans-ExtraBoldItalic.ttf',
        weight: 800,
        style: 'italic'
    ),
    black: (
        file: 'NunitoSans-Black.ttf',
        weight: 900,
        style: 'normal'
    ),
    black-italic: (
        file: 'NunitoSans-BlackItalic.ttf',
        weight: 900,
        style: 'italic'
    )
) !default;

/* --------------------------------------------------------------------- */
$font-list: (
    nunito-sans: $nunito-sans
) !default;

/* stylelint-disable */
@mixin font-face($fontKey, $variant) {
    @if map-has-key($fontKey, $variant) {
        $font-props: map-get($fontKey, $variant);

        font-family: map-get($fontKey, 'font-family');
        src:
            url("#{$font-path}#{map-get($font-props,'file')}")
            format("#{map-get($fontKey, 'format')}");

        @if map-has-key($font-props, 'weight') {
            font-weight: map-get($font-props, 'weight');
        }
        @if map-has-key($font-props, 'style') {
            font-style: map-get($font-props, 'style');
        }
    }
    @else {
        @warn "Unknown `#{$variant}` in `#{map-get($fontKey, 'font-family')}`. Use:`#{map-keys($fontKey)}`";
    }
}
/* stylelint-enable */

@mixin build-class-list($font-family, $prefix, $styles) {
    @each $name, $props in $styles {
        .#{$prefix}#{$name} {
            @each $key, $value in $props {
                #{$key}: $value;
            }

            font-family: $font-family;
        }
    }
}
