// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;

/* prettier-ignore */
$spacers: (
    none: 0,
    xxsmall: ($spacer * 0.125),
    xsmall: ($spacer * 0.25),
    small: ($spacer * 0.5),
    medium: $spacer,
    large: ($spacer * 1.5),
    xlarge: ($spacer * 3),
    xxlarge: ($spacer * 6)
) !default;

@function space($key) {
    @if map-has-key($spacers, $key) {
        @return map-get($spacers, $key);
    }

    @warn "Unknown `#{$key}` in $spacings. Use:`#{map-keys($spacers)}`";

    @return null;
}

/*
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
*/
