@font-face {
    font-weight: 400;
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-weight: 600;
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito/Nunito-Bold.ttf');
}
