@import '../../colors/colors.scss';

.navItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18.75rem;
    height: 3.5rem;

    color: $color-neutral;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
        color: $color-accent;
    }

    &.selected {
        color: $color-neutral;

        background-color: $color-accent;
        cursor: default;
    }

    &_iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
    }
}
