.treeView_item {
    --color-treeItem: inherit;
    --color-treeItem_hover: var(--color-dark);
    --color-treeItem_selected: var(--color-light);
    --color-treeItem_selected_hover: var(--color-light);
    --background-treeItem: inherit;
    --background-treeItem_hover: var(--color-gray_light40);
    --background-treeItem_selected: var(--color-accent);
    --background-treeItem_selected_hover: var(--color-accent);

    flex-wrap: nowrap;

    height: 32px;

    color: var(--color-treeItem);

    background-color: var(--background-treeItem);
    cursor: pointer;

    &:hover {
        color: var(--color-treeItem_hover);

        background-color: var(--background-treeItem_hover);
    }

    &.selected {
        color: var(--color-treeItem_selected);

        background-color: var(--background-treeItem_selected);

        &:hover {
            color: var(--color-treeItem_selected_hover);

            background-color: var(--background-treeItem_selected_hover);
        }
    }

    // Theme reversed
    &.reversed {
        --color-treeItem: var(--color-gray_light);
        --color-treeItem_hover: var(--color-light);
        --background-treeItem_hover: var(--color-gray40);
    }
}

.treeView_itemIconStart,
.treeView_itemToggle {
    margin-right: var(--spacing-nano);
}

.treeView_itemIconStart {
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
}

.treeView_itemIconEnd {
    margin-left: var(--spacing-nano);
}

.treeView_itemToggle {
    width: 16px;
    height: 16px;

    cursor: pointer;
}

.treeView_itemLabel {
    align-self: stretch;
    min-width: 0;
}
