@use "../../tokens/spacings/spacings" as *;

[role='treeitem'] {
    --treeItem-indent: calc((var(--spacing-medium) + var(--spacing-nano)) * var(--treeItem-depth, 0) + var(--spacing-medium));
    --treeItem-color: inherit;
    --treeItem-color_hover: var(--color-dark);
    --treeItem-color_selected: var(--color-light);
    --treeItem-color_highlighted: var(--color-light);
    --treeItem-color_selected_hover: var(--color-light);
    --treeItem-background: inherit;
    --treeItem-background_hover: var(--color-gray_light40);
    --treeItem-background_selected: var(--color-accent);
    --treeItem-background_selected_hover: var(--color-accent);
    --treeItem-background_highlighted: var(--color-gray60);
}

.moonstone-treeView_item {
    flex-wrap: nowrap;

    height: 32px;
    padding-right: var(--spacing-small);
    padding-left: var(--treeItem-indent);

    color: var(--treeItem-color);

    background-color: var(--treeItem-background);
    cursor: pointer;

    &:hover {
        color: var(--treeItem-color_hover);

        background-color: var(--treeItem-background_hover);
    }

    &.moonstone-small {
        height: 24px;
    }

    &.moonstone-selected {
        color: var(--treeItem-color_selected);

        background-color: var(--treeItem-background_selected);

        &:hover {
            color: var(--treeItem-color_selected_hover);

            background-color: var(--treeItem-background_selected_hover);
        }
    }

    &.moonstone-highlighted {
        color: var(--treeItem-color_highlighted);

        background-color: var(--treeItem-background_highlighted);
    }

    // Theme reversed
    &.moonstone-reversed {
        --treeItem-color: var(--color-gray_light);
        --treeItem-color_hover: var(--color-light);
        --treeItem-background_hover: var(--color-gray40);
        --treeItem-background_highlighted: var(--color-gray_light40);
    }

    &.moonstone-disabled {
        background: none;
        cursor: not-allowed;
    }

    &.moonstone-readonly {
        background: none;
        cursor: default;
    }
}

.moonstone-treeView_itemIconStart {
    min-width: 12px;
    min-height: 12px;
}

.moonstone-treeView_itemToggle {
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-nano);

    cursor: pointer;
}

.moonstone-treeView_itemLabel {
    gap: $spacing-icon;
    align-self: stretch;
    min-width: 0;

    .moonstone-treeView_item.moonstone-disabled & {
        color: var(--color-gray40);
    }
}
