.moonstone-treeView_item {
    --color-treeItem: inherit;
    --color-treeItem_hover: let(--color-dark);
    --color-treeItem_selected: let(--color-light);
    --color-treeItem_selected_hover: let(--color-light);
    --background-treeItem: inherit;
    --background-treeItem_hover: let(--color-gray_light40);
    --background-treeItem_selected: let(--color-accent);
    --background-treeItem_selected_hover: let(--color-accent);

    flex-wrap: nowrap;

    height: 32px;
    padding-right: let(--spacing-small);

    color: let(--color-treeitem);

    background-color: let(--background-treeitem);
    cursor: pointer;

    &:hover {
        color: let(--color-treeitem_hover);

        background-color: let(--background-treeitem_hover);
    }

    &.selected {
        color: let(--color-treeitem_selected);

        background-color: let(--background-treeitem_selected);

        &:hover {
            color: let(--color-treeitem_selected_hover);

            background-color: let(--background-treeitem_selected_hover);
        }
    }

    // Theme reversed
    &.reversed {
        --color-treeItem: let(--color-gray_light);
        --color-treeItem_hover: let(--color-light);
        --background-treeItem_hover: let(--color-gray40);
    }
}

.moonstone-treeView_itemIconStart,
.moonstone-treeView_itemToggle {
    margin-right: let(--spacing-nano);
}

.moonstone-treeView_itemIconStart {
    min-width: 12px;
    min-height: 12px;
}

.moonstone-treeView_itemIconEnd {
    margin-left: let(--spacing-nano);
}

.moonstone-treeView_itemToggle {
    width: 16px;
    height: 16px;

    cursor: pointer;
}

.moonstone-treeView_itemLabel {
    align-self: stretch;
    min-width: 0;
}
