@import '~/utils/index';

$primaryNavExpanded: 300px;
$primaryNav: 56px;

.primaryNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: $primaryNav;
    height: 100vh;

    color: var(--color-light);

    background: var(--color-dark);
    overflow: hidden;

    transition: width 0.3s;

    &.expanded {
        z-index: 9000;

        width: $primaryNavExpanded;

        box-shadow: 8px 0 16px 0 var(--color-gray_dark60);
    }
}

.overlay {
    position: fixed;
    z-index: 800;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-dark);
    opacity: 0.6;
}

.logoCaptionGroup {
    padding-right: 2.5rem;
}

.navHeader {
    height: $primaryNav;
}

.navButtonContainer {
    width: $primaryNav;
    min-width: $primaryNav;

    & > button {
        color: var(--color-light);

        border: none;
        outline: none;
        background: inherit;
        cursor: pointer;
    }
}

.modeIcon {
    position: absolute;
    top: 18px;
    left: 28px;

    width: 10px;
    height: 10px;

    color: var(--color-accent);

    pointer-events: none;
}

.modeIconHeader {
    width: 15px;
    height: 15px;

    color: var(--color-accent);

    pointer-events: none;
}

.headerCaption {
    @include truncate;

    margin-left: 40px;

    font-size: 8pt;
    color: var(--color-light);
}
