@import '../../utils/index';

$primaryNavExpanded: 300px;
$primaryNav: 56px;

.moonstone-primaryNav_logoCaptionGroup {
    padding-right: 2.5rem;

    visibility: hidden;
    opacity: 0;

    transition: visibility 0.15s, opacity 0.2s;
}

.moonstone-primaryNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: $primaryNav;
    height: 100vh;

    color: var(--color-light);

    background: var(--color-dark);
    overflow: hidden;

    transition: width 0.3s;

    &.moonstone-expanded {
        z-index: 9000;

        width: $primaryNavExpanded;

        box-shadow: 8px 0 16px 0 var(--color-gray_dark60);

        .moonstone-primaryNav_logoCaptionGroup {
            visibility: visible;
            opacity: 1;
        }
    }
}

.moonstone-primaryNav_overlay {
    position: fixed;
    z-index: 800;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-dark);
    opacity: 0.6;
}

.moonstone-primaryNav_header {
    height: $primaryNav;
}

.moonstone-primaryNav_buttonContainer {
    width: $primaryNav;
    min-width: $primaryNav;
}

.moonstone-primaryNav_button {
    z-index: 9000;

    width: 40px;
    height: 40px;
    padding: 0;

    color: var(--color-light);

    border: none;
    border-radius: 40px;
    outline: none;
    background: inherit;
    cursor: pointer;

    &:hover {
        color: var(--color-accent);

        background-color: var(--color-gray_dark60);
    }
}

.moonstone-primaryNav_modeIcon {
    position: absolute;
    top: calc(var(--spacing-nano) * 3);
    right: calc(var(--spacing-nano) * 2);

    color: var(--color-accent);

    pointer-events: none;
}

.moonstone-primaryNav_modeIconHeader {
    width: 15px;
    height: 15px;

    color: var(--color-accent);

    pointer-events: none;
}

.moonstone-primaryNav_headerCaption {
    @include truncate;

    margin-left: 40px;

    font-size: 8pt;
    color: var(--color-light);
}
