.moonstone-fieldSelector {
    position: relative;

    gap: var(--moon-spacing-nano);

    width: 100%;

    .moonstone-cardSelector_dragIcon {
        position: absolute;
        left: calc(var(--moon-spacing-medium) / -1);
    }

    .moonstone-dropdown_container {
        width: 100%;
    }
}

.moonstome-fieldSelector_errorMessage {
    color: var(--moon-color-warning);
}

.moonstone-fieldSelector_buttons {
    gap: var(--moon-spacing-nano);
    width: fit-content;
    min-width: var(--moon-spacing-large);
}
