@import '../../../styles/shared/_all.scss';
.mds-button {
    font-size: 40px;
    border: 0;
    background: $color-brand;
    color: $color-white;

    padding: space(small) space(large);

    &:hover {
        background: $color-primary;
    }
}
