@import '../../../styles/shared/all';

.mds-button {
    padding: space(small) space(large);

    color: $color-white;

    border: 0;
    background: $color-brand;

    &:hover {
        background: $color-primary;
    }
}
