.moonstone-custom-dropdown-button {
    &.moonstone-opened {
        border: var(--border-selector_active);
    }
}

.moonstone-custom-dropdown-menu {
    padding: var(--spacing-small);

    .moonstone-menuItem {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
