.sticky > button {
    position: fixed;
    top: calc(var(--sticky-top) - var(--sticky-diff));

    width: var(--sticky-width);

    background: var(--color-white);
    box-shadow: -4px 4px 4px -4px var(--color-gray60);
}

.stickyover > button {
    z-index: 100;
}

.sticky > div {
    padding-top: 56px;
}
