.moonstone-field {
    padding-left: 32px;

    border-left: 3px solid transparent;
}

.moonstone-field_error {
    // background-color: var(--moon-color-warning20);
    border-color: var(--moon-color-warning);
}

.moonstone-field_chips {
    gap: var(--moon-spacing-nano);
    margin-right: var(--moon-spacing-medium);
    margin-left: var(--moon-spacing-small);
}

.moonstone-field_helper {
    margin-top: 2px;
    padding-right: calc(var(--moon-spacing-large) + var(--moon-spacing-nano));

    opacity: 0.8;
}

.moonstone-field_children {
    gap: var(--moon-spacing-small);
    margin-top: var(--moon-spacing-small);
}

.moonstome-field_errorMessage {
    color: var(--moon-color-warning_dark);
}

.moonstone-field_buttons {
    gap: var(--moon-spacing-nano);
}
