.moonstone-valueList {
    flex-grow: 1;
    height: 300px;
    overflow-y: auto;

    .moonstone-draggedOver {
        outline: solid 2px var(--color-accent);
    }
}

.moonstone-iconContainer {
    min-width: var(--spacing-large);

    .moonstone-displayNone {
        display: none;
    }

    .moonstone-dragHandle {
        cursor: move;
    }
}

.moonstone-valueListItem {
    align-items: center;
    padding: var(--spacing-small);

    cursor: pointer;

    &.selected {
        color: var(--color-white);

        background-color: var(--color-accent);
    }

    &:hover {
        color: var(--color-accent);

        background-color: var(--color-gray_light60);
    }

    &:hover > div > div > .moonstone-displayNone {
        display: block;
    }
}

.moonstone-wrapper {
    flex-grow: 1;
    gap: var(--spacing-small);

    .moonstone-listHolder {
        flex-grow: 1;
        gap: var(--spacing-small);
        padding: var(--spacing-small);

        border: 1px solid var(--color-gray40);
    }

    .moonstone-noHoveEffect {
        &:hover {
            color: inherit;

            background-color: inherit;
        }

        &:hover > div > div > .moonstone-displayNone {
            display: none;
        }
    }

    .moonstone-noOpacity {
        opacity: 0;
    }
}
