$header-minHeight: 64px;
$header-toolbar-minheight: 35px;

.moonstone-header {
    z-index: 1;

    min-height: $header-minHeight;
    padding: var(--spacing-medium) var(--spacing-large) 0 var(--spacing-large);

    background-color: var(--color-white);
    box-shadow: 0 1px 8px var(--color-gray60);
}

// Set the same spacing between each elements (buttons, chips, ...)
.moonstone-header_actions {
    > * + * {
        margin-left: var(--spacing-small);
    }
}

//---
// Main
//---
.moonstone-header_main {
    margin-bottom: var(--spacing-small);
}

.moonstone-header_back {
    margin-right: var(--spacing-small);
}

.moonstone-header_title {
    margin-right: var(--spacing-big);

    color: var(--color-gray_dark);
}

.moonstone-header_search {
    margin-right: var(--spacing-large);
}

//---
// Information Section
//---
.moonstone-header_information {
    padding: var(--spacing-small) 0;

    // If there is no toolbar set a margin-bottom to get more space
    &:last-child {
        margin-bottom: var(--spacing-medium);
    }
}

.moonstone-header_informationLeft,
.moonstone-header_informationRight {
    overflow: hidden;
}

.moonstone-header_informationLeft {
    margin-right: var(--spacing-big);
}

//---
// Toolbar Section
//---
.moonstone-header_toolbar {
    height: $header-toolbar-minheight;
}
