@mixin truncate($maxWidth: 100%, $display: null) {
    @if ($display) {
        display: $display;
    }

    max-width: $maxWidth;

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

%is-disabled {
    color: var(--color-gray);

    background-color: var(--color-gray_light40);

    cursor: not-allowed;
    opacity: 0.6;
}
