@mixin truncate($maxWidth: 100%, $display: null) {
    @if ($display) {
        display: $display;
    }

    max-width: $maxWidth;

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

.moonstone-selector_disabled,
%selector_disabled {
    color: var(--color-gray_dark);

    border-color: transparent;
    background-color: var(--color-gray_light_plain40);
    cursor: inherit;
    opacity: 0.8;
}
