@use 'mixins';

// ---
// Typography Styles
// ---

%variant-title {
    font-weight: 300;
    font-size: 28px; // 1.75rem

    line-height: 32px; // 2rem

    &::first-letter {
        text-transform: capitalize;
    }
}

%variant-heading {
    font-weight: 600;
    font-size: 20px; // 1.25rem
    line-height: 24px; // 1.5rem
}

%variant-subheading {
    font-size: 16px; // 1rem
    line-height: 18px; // 1.125rem
}

%variant-body {
    font-size: 14px; // 0.875rem
    line-height: 19px; // 1.1875rem
}

%variant-caption {
    font-size: 12px; // 0.75rem
    line-height: 16px; // 1rem
}

%variant-button {
    font-size: 12px; // 0.75rem
    line-height: 16px; // 1rem
}

%weight-bold {
    font-weight: bold;
}

%weight-semiBold {
    font-weight: 500;
}

%weight-light {
    font-weight: 300;
}

%nowrap {
    @include mixins.truncate(100%);
}

%italic {
    font-style: italic;
}

%lineThrough {
    text-decoration-line: line-through;
}

%upperCase {
    text-transform: uppercase;
}
