$checkbox-sizeDefault: 16px;
$checkbox-sizeBig: 20px;

.moonstone-checkbox {
    position: relative;
}

.moonstone-checkbox_sizeDefault {
    display: block;
    width: $checkbox-sizeDefault;
    height: $checkbox-sizeDefault;
}

.moonstone-checkbox_sizeBig {
    display: block;
    width: $checkbox-sizeBig;
    height: $checkbox-sizeBig;
}

.moonstone-checkbox_icon {
    position: absolute;
    top: 0;
    left: 0;

    fill: none;
    stroke: var(--color-light);

    transform: scale(0) translateZ(0);

    pointer-events: none;
    stroke-width: 2px;
}

.moonstone-checkbox_input {
    position: relative;

    margin: 0;
    padding: 0;

    appearance: none;

    border: none;
    border-radius: 2px;
    outline: none;
    background: transparent;

    box-shadow: inset 0 0 0 var(--shadow-size, 1px) var(--shadow-color, var(--color-gray));
    cursor: pointer;

    transition: box-shadow 0.1s;

    &:hover {
        --shadow-color: var(--color-gray60);
        --shadow-size: 2px;
    }

    // Only triggered when the input is focus with tab
    &:focus {
        border: 2px solid var(--color-accent_dark_contrast);
    }

    &[aria-checked="true"],
    &[aria-checked="mixed"] {
        --shadow-size: 12px;
        --shadow-color: var(--color-accent);

        &:hover {
            border: 2px solid var(--color-accent_dark);
        }

        & ~ .moonstone-checkbox_icon {
            animation: checkboxBounce 0.1s linear forwards 0.05s;
        }
    }

    &[disabled],
    &[aria-readonly="true"] {
        cursor: default;
        opacity: 0.4;

        // Prevent :hover on disabled and read-only
        pointer-events: none;
    }
}

@keyframes checkboxBounce {
    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
