$row-regular-height: 48px;

.moonstone-TableRow {
    height: $row-regular-height;

    border-bottom: 1px solid var(--color-gray_light);

    .moonstone-TableBody &:focus-within,
    .moonstone-TableBody &:hover {
        background-color: var(--color-gray_light40);
    }

    &.moonstone-TableRow-highlighted {
        color: var(--color-light);

        background-color: var(--color-accent);

        &:focus-within,
        &:hover {
            background-color: var(--color-accent);
        }

        .moonstone-checkbox_input {
            border: 1px solid var(--color-light);

            &[aria-checked="false"] {
                box-shadow: none;
            }

            &.hasFocus {
                border: 2px solid var(--color-accent_dark_contrast);
            }
        }

        .moonstone-chip {
            color: var(--color-light);

            background-color: var(--color-accent_light40);
        }

        .moonstone-button:not(:hover, :focus) {
            color: var(--color-light);
        }
    }
}
