.tableRow {
    padding: 0 var(--spacing-medium);

    border-bottom: 1px solid var(--color-gray_light);

    :global(.moonstone-tableBody) &:focus-within,
    :global(.moonstone-tableBody) &:hover {
        background-color: var(--color-gray_light40);
    }
}

.tableRow_highlighted {
    color: var(--color-light);

    background-color: var(--color-accent);

    &:focus-within,
    &:hover {
        background-color: var(--color-accent);
    }

    :global(.moonstone-checkbox_input) {
        border: 1px solid var(--color-light);

        &[aria-checked="false"] {
            box-shadow: none;
        }

        &.hasFocus {
            border: 2px solid var(--color-accent_dark_contrast);
        }
    }

    :global(.moonstone-chip) {
        color: var(--color-light);

        background-color: var(--color-accent_light40);
    }

    :global(.moonstone-button):not(:hover, :focus) {
        color: var(--color-light);
    }
}
