.moonstone-buttonGroup {
    .moonstone-button {
        &:first-child {
            border-radius: var(--radius) 0 0 var(--radius);
        }

        &:last-child {
            border-radius: 0 var(--radius) var(--radius) 0;
        }

        &:only-child {
            border-radius: var(--radius);
        }

        & + .moonstone-button {
            border-left-color: transparent;

            &:not(:last-child) {
                border-radius: 0;
            }
        }

        &.moonstone-button_accent,
        &.moonstone-button_danger {
            + .moonstone-button_accent,
            + .moonstone-button_danger {
                margin-left: 1px;
            }
        }
    }

    .moonstone-button_outlined {
        & + .moonstone-button_outlined {
            border-left-color: transparent;
        }
    }
}
