$color-light: 253, 253, 253;
$color-gray-light: 218, 218, 218;
$color-gray: 122, 127, 136;
$color-gray-dark: 41, 49, 54;
$color-dark: 19, 28, 33;
$color-white: 255, 255, 255;
$color-black: 0, 0, 0;
$color-blue: 0, 160, 227;
$color-blue-contrast: 0, 71, 129;
$color-blue-dark: 0, 114, 177;
$color-blue-light: 99, 209, 255;
$color-green: 67, 160, 71;
$color-red: 224, 24, 45;
$color-red-dark: 194, 23, 41;
$color-yellow: 232, 182, 6;
$color-purple: 112, 24, 224;

:root {
    // Accent
    --color-accent: rgb(#{$color-blue});
    --color-accent20: rgba(#{$color-blue}, 0.2);
    --color-accent40: rgba(#{$color-blue}, 0.4);
    --color-accent60: rgba(#{$color-blue}, 0.6);
    --color-accent_dark: rgb(#{$color-blue-dark});
    --color-accent_dark20: rgba(#{$color-blue-dark}, 0.2);
    --color-accent_dark40: rgba(#{$color-blue-dark}, 0.4);
    --color-accent_dark60: rgba(#{$color-blue-dark}, 0.6);
    --color-accent_dark_contrast: rgb(#{$color-blue-contrast});
    --color-accent_light: rgb(#{$color-blue-light});
    --color-accent_light20: rgb(#{$color-blue-light, 0.2});
    --color-accent_light40: rgb(#{$color-blue-light, 0.4});
    --color-accent_light60: rgb(#{$color-blue-light, 0.6});

    // Basic
    --color-black: rgb(#{$color-black});
    --color-white: rgb(#{$color-white});

    // Neutral
    --color-light: rgb(#{$color-light});
    --color-light20: rgba(#{$color-light}, 0.2);
    --color-light40: rgba(#{$color-light}, 0.4);
    --color-light60: rgba(#{$color-light}, 0.6);
    --color-gray_light: rgb(#{$color-gray-light});
    --color-gray_light20: rgba(#{$color-gray-light}, 0.2);
    --color-gray_light40: rgba(#{$color-gray-light}, 0.4);
    --color-gray_light60: rgba(#{$color-gray-light}, 0.6);
    --color-gray: rgb(#{$color-gray});
    --color-gray20: rgba(#{$color-gray}, 0.2);
    --color-gray40: rgba(#{$color-gray}, 0.4);
    --color-gray60: rgba(#{$color-gray}, 0.6);
    --color-gray_dark: rgb(#{$color-gray-dark});
    --color-gray_dark20: rgba(#{$color-gray-dark}, 0.2);
    --color-gray_dark40: rgba(#{$color-gray-dark}, 0.4);
    --color-gray_dark60: rgba(#{$color-gray-dark}, 0.6);
    --color-dark: rgb(#{$color-dark});
    --color-dark20: rgba(#{$color-dark}, 0.2);
    --color-dark40: rgba(#{$color-dark}, 0.4);
    --color-dark60: rgba(#{$color-dark}, 0.6);

    // Support
    --color-success: rgba(#{$color-green});
    --color-success20: rgba(#{$color-green, 0.2});
    --color-success40: rgba(#{$color-green, 0.4});
    --color-success60: rgba(#{$color-green, 0.6});
    --color-warning: rgba(#{$color-yellow});
    --color-warning20: rgba(#{$color-yellow}, 0.2);
    --color-warning40: rgba(#{$color-yellow}, 0.4);
    --color-warning60: rgba(#{$color-yellow}, 0.6);
    --color-danger: rgba(#{$color-red});
    --color-danger20: rgba(#{$color-red, 0.2});
    --color-danger40: rgba(#{$color-red, 0.4});
    --color-danger60: rgba(#{$color-red, 0.6});
    --color-danger_dark: rgba(#{$color-red-dark});

    // Palette
    --color-purple: rgba(#{$color-purple}, 1);
    --color-purple20: rgba(#{$color-purple}, 0.2);
    --color-purple40: rgba(#{$color-purple}, 0.4);
    --color-purple60: rgba(#{$color-purple}, 0.6);
}
