@mixin colorValue($value) {
    &::after {
        content: "#{$value}";

        position: absolute;
        bottom: var(--spacing-small);
        left: 0;

        color: var(--color-gray60);
    }
}

.colorPalette {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
        margin-top: var(--spacing-medium);
    }
}

.colorShape {
    width: 160px;
    height: 80px;

    border: 1px solid var(--color-gray_light);
}

$colorsAccent: (
    'accent_dark_contrast',
    'accent_dark',
    'accent_dark60',
    'accent_dark40',
    'accent_dark20',
    'accent',
    'accent60',
    'accent40',
    'accent20',
    'accent_light',
    'accent_light60',
    'accent_light40',
    'accent_light20'
);
$colorsNeutral: (
    'light',
    'light60',
    'light40',
    'light20',
    'gray_light',
    'gray_light60',
    'gray_light40',
    'gray_light20',
    'gray',
    'gray60',
    'gray40',
    'gray20',
    'gray_dark',
    'gray_dark60',
    'gray_dark40',
    'gray_dark20'
);
$colorsSupport: (
    'success',
    'success60',
    'success40',
    'success20',
    'warning',
    'warning60',
    'warning40',
    'warning20',
    'danger',
    'danger60',
    'danger40',
    'danger20',
    'danger_dark'
);
$colorsPalette: (
    'purple',
    'purple60',
    'purple40',
    'purple20'
);

@each $name in $colorsAccent {
    .color-#{$name} {
        @include colorValue($name);

        background-color: var(--color-#{$name});
    }
}

@each $name in $colorsNeutral {
    .color-#{$name} {
        @include colorValue($name);

        background-color: var(--color-#{$name});
    }
}

@each $name in $colorsSupport {
    .color-#{$name} {
        @include colorValue($name);

        background-color: var(--color-#{$name});
    }
}

@each $name in $colorsPalette {
    .color-#{$name} {
        @include colorValue($name);

        background-color: var(--color-#{$name});
    }
}
