:root {
    --zIndex-100: 100;
    --zIndex-200: 200;
    --zIndex-500: 500;
    --zIndex-800: 800;
    --zIndex-1000: 1000;
    --zIndex-2000: 2000;
    --zIndex-3000: 3000;
    --zIndex-4000: 4000;
    --zIndex-5000: 5000;
    --zIndex-6000: 6000;
    --zIndex-7000: 7000;
    --zIndex-8500: 8500;
    --zIndex-9000: 9000;
    --zIndex-9500: 9500;
    --zIndex-10000: 10000;
    --zIndex-10500: 10500;
    --zIndex-trump: 99999;
}
