.dateTimeInput {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--moon-spacing-small);
    align-items: center;
    max-width: 100%;
}

.dateField {
    width: 120px;
}

.dayPicker {
    --rdp-accent-color: var(--color-accent);
    --rdp-accent-background-color: var(--color-accent);
    --rdp-selected-border: 1px solid var(--color-accent);
    --rdp-today-color: var(--color-blue);
}

.calendarFooter {
    display: flex;
    justify-content: center;
    padding-top: var(--moon-spacing-nano);

    border-top: 1px solid var(--color-gray_light40);
}
