.moonstone-dateTimeInput {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    align-items: center;
    max-width: 100%;
}

.moonstone-dateTimeInput_dateField {
    width: 120px;
}

.moonstone-dateTimeInput_calendarFooter {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-nano);

    border-top: 1px solid var(--color-gray_light40);
}
