.moonstone-tableCellHead_sort {
    margin-left: 2px;

    color: var(--color-gray_light);
    vertical-align: middle;

    &:hover {
        color: var(--color-gray);
    }
}

.moonstone-tableCellHead_sortActive {
    color: var(--color-accent);

    &:hover {
        color: var(--color-accentDark);
    }
}

.moonstone-TableHeadCell {
    font-weight: bold;
}
