.moonstone-tableCellHead_sort {
    color: var(--color-gray_light);

    &:hover {
        color: var(--color-gray);
    }
}

.moonstone-tableCellHead_sortActive {
    color: var(--color-accent);

    &:hover {
        color: var(--color-accentDark);
    }
}

.moonstone-TableHeadCell {
    font-weight: bold;
}
