.moonstone-SortIndicator {
    color: var(--color-gray_light);

    &:hover {
        color: var(--color-gray);
    }
}

.moonstone-SortIndicator-sorted {
    color: var(--color-accent);

    &:hover {
        color: var(--color-accentDark);
    }
}
