$footerHeight: 24px;
$gap: 8px;

.moonstone-listSelector {
    .moonstone-draggedOver {
        outline: solid 2px var(--color-accent);
    }
}

.moonstone-listSelector_buttons {
    gap: 16px;
    width: var(--spacing-big);
    margin-bottom: $footerHeight + $gap;
    padding: var(--spacing-small);
}

.moonstone-listSelector_title {
    height: 24px;
}

.moonstone-listSelector_left,
.moonstone-listSelector_right {
    gap: $gap;
}

.moonstone-listSelector_left {
    margin-bottom: $footerHeight + $gap;
}

.moonstone-listSelector_footer {
    height: $footerHeight;

    color: var(--color-gray60);
}
