.moonstone-chip {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    height: 16px;
    padding: 0 var(--spacing-small);

    border-radius: 40px;

    &.moonstone-color_accent {
        color: var(--color-accent_dark_contrast);

        background-color: var(--color-accent_light40);
    }

    &.moonstone-color_danger {
        color: var(--color-gray_dark);

        background-color: var(--color-danger40);
    }

    &.moonstone-color_default {
        color: var(--color-accent_dark);

        background-color: var(--color-gray_light40);
    }

    &.moonstone-color_success {
        color: var(--color-gray_dark);

        background-color: var(--color-success40);
    }

    &.moonstone-color_warning {
        color: var(--color-gray_dark);

        background-color: var(--color-warning40);
    }

    &.moonstone-color_reassuring {
        color: var(--color-gray_dark);

        background-color: var(--color-purple40);
    }

    &.moonstone-disabled {
        opacity: 0.3;
    }

    & > svg:not(:last-child) {
        margin-right: 6px;
    }
}
