.valueList {
    flex-grow: 1;
    height: 300px;
    overflow-y: auto;
}

.captionContainer {
    min-height: calc(var(--spacing-medium) * 2);
    margin-top: var(--spacing-small);
}

.moonstone-iconContainer {
    min-width: var(--spacing-large);

    .moonstone-displayNone {
        display: none;
    }
}

.moonstone-valueListItem {
    align-items: center;
    padding: var(--spacing-small);

    cursor: pointer;

    &.selected {
        color: var(--color-white);

        background-color: var(--color-accent);
    }

    &:hover {
        color: var(--color-accent);

        background-color: var(--color-gray_light60);
    }

    &:hover > div > div > .moonstone-displayNone {
        display: block;
    }
}

.moonstone-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacing-small);

    .moonstone-listHolder {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: var(--spacing-small);
        padding: var(--spacing-small);

        border: 1px solid var(--color-gray40);
    }

    .moonstone-noHoveEffect {
        &:hover {
            color: inherit;

            background-color: inherit;
        }

        &:hover > div > div > .moonstone-displayNone {
            display: none;
        }
    }

    .moonstone-noOpacity {
        opacity: 0;
    }
}
