// To avoid a breaking change, keep all legacy names as aliases of the new ones
:root {
    // borders.scss
    --radius: var(--moon-radius);
    --radius_small: var(--moon-radius_small);
    --radius_rounded: var(--moon-radius_rounded);

    // colors.scss
    --color-accent: var(--moon-color-accent);
    --color-accent20: var(--moon-color-accent20);
    --color-accent40: var(--moon-color-accent40);
    --color-accent60: var(--moon-color-accent60);
    --color-accent_plain20: var(--moon-color-accent_plain20);
    --color-accent_plain40: var(--moon-color-accent_plain40);
    --color-accent_plain60: var(--moon-color-accent_plain60);
    --color-accent_dark: var(--moon-color-accent_dark);
    --color-accent_dark20: var(--moon-color-accent_dark20);
    --color-accent_dark40: var(--moon-color-accent_dark40);
    --color-accent_dark60: var(--moon-color-accent_dark60);
    --color-accent_dark_plain20: var(--moon-color-accent_dark_plain20);
    --color-accent_dark_plain40: var(--moon-color-accent_dark_plain40);
    --color-accent_dark_plain60: var(--moon-color-accent_dark_plain60);
    --color-accent_dark_contrast: var(--moon-color-accent_dark_contrast);
    --color-accent_dark_contrast20: var(--moon-color-accent_dark_contrast20);
    --color-accent_dark_contrast40: var(--moon-color-accent_dark_contrast40);
    --color-accent_dark_contrast60: var(--moon-color-accent_dark_contrast60);
    --color-accent_dark_contrast_plain20: var(--moon-color-accent_dark_contrast_plain20);
    --color-accent_dark_contrast_plain40: var(--moon-color-accent_dark_contrast_plain40);
    --color-accent_dark_contrast_plain60: var(--moon-color-accent_dark_contrast_plain60);
    --color-accent_light: var(--moon-color-accent_light);
    --color-accent_light20: var(--moon-color-accent_light20);
    --color-accent_light40: var(--moon-color-accent_light40);
    --color-accent_light60: var(--moon-color-accent_light60);
    --color-accent_light_plain20: var(--moon-color-accent_light_plain20);
    --color-accent_light_plain40: var(--moon-color-accent_light_plain40);
    --color-accent_light_plain60: var(--moon-color-accent_light_plain60);
    --color-black: var(--moon-color-black);
    --color-white: var(--moon-color-white);
    --color-light: var(--moon-color-light);
    --color-light20: var(--moon-color-light20);
    --color-light40: var(--moon-color-light40);
    --color-light60: var(--moon-color-light60);
    --color-gray_light: var(--moon-color-gray_light);
    --color-gray_light20: var(--moon-color-gray_light20);
    --color-gray_light40: var(--moon-color-gray_light40);
    --color-gray_light60: var(--moon-color-gray_light60);
    --color-gray_light_plain20: var(--moon-color-gray_light_plain20);
    --color-gray_light_plain40: var(--moon-color-gray_light_plain40);
    --color-gray_light_plain60: var(--moon-color-gray_light_plain60);
    --color-gray: var(--moon-color-gray);
    --color-gray20: var(--moon-color-gray20);
    --color-gray40: var(--moon-color-gray40);
    --color-gray60: var(--moon-color-gray60);
    --color-gray_plain20: var(--moon-color-gray_plain20);
    --color-gray_plain40: var(--moon-color-gray_plain40);
    --color-gray_plain60: var(--moon-color-gray_plain60);
    --color-gray_dark: var(--moon-color-gray_dark);
    --color-gray_dark20: var(--moon-color-gray_dark20);
    --color-gray_dark40: var(--moon-color-gray_dark40);
    --color-gray_dark60: var(--moon-color-gray_dark60);
    --color-gray_dark_plain20: var(--moon-color-gray_dark_plain20);
    --color-gray_dark_plain40: var(--moon-color-gray_dark_plain40);
    --color-gray_dark_plain60: var(--moon-color-gray_dark_plain60);
    --color-dark: var(--moon-color-dark);
    --color-dark20: var(--moon-color-dark20);
    --color-dark40: var(--moon-color-dark40);
    --color-dark60: var(--moon-color-dark60);
    --color-dark_plain20: var(--moon-color-dark_plain20);
    --color-dark_plain40: var(--moon-color-dark_plain40);
    --color-dark_plain60: var(--moon-color-dark_plain60);
    --color-success: var(--moon-color-success);
    --color-success20: var(--moon-color-success20);
    --color-success40: var(--moon-color-success40);
    --color-success60: var(--moon-color-success60);
    --color-success_plain20: var(--moon-color-success_plain20);
    --color-success_plain40: var(--moon-color-success_plain40);
    --color-success_plain60: var(--moon-color-success_plain60);
    --color-success_dark: var(--moon-color-success_dark);
    --color-warning: var(--moon-color-warning);
    --color-warning20: var(--moon-color-warning20);
    --color-warning40: var(--moon-color-warning40);
    --color-warning60: var(--moon-color-warning60);
    --color-warning_plain20: var(--moon-color-warning_plain20);
    --color-warning_plain40: var(--moon-color-warning_plain40);
    --color-warning_plain60: var(--moon-color-warning_plain60);
    --color-warning_dark: var(--moon-color-warning_dark);
    --color-danger: var(--moon-color-danger);
    --color-danger20: var(--moon-color-danger20);
    --color-danger40: var(--moon-color-danger40);
    --color-danger60: var(--moon-color-danger60);
    --color-danger_plain20: var(--moon-color-danger_plain20);
    --color-danger_plain40: var(--moon-color-danger_plain40);
    --color-danger_plain60: var(--moon-color-danger_plain60);
    --color-danger_dark: var(--moon-color-danger_dark);
    --color-purple: var(--moon-color-purple);
    --color-purple20: var(--moon-color-purple20);
    --color-purple40: var(--moon-color-purple40);
    --color-purple60: var(--moon-color-purple60);
    --color-purple_plain20: var(--moon-color-purple_plain20);
    --color-purple_plain40: var(--moon-color-purple_plain40);
    --color-purple_plain60: var(--moon-color-purple_plain60);
    --color-purple_dark: var(--moon-color-purple_dark);

    // spacings.scss
    --spacing-pico: var(--moon-spacing-pico);
    --spacing-nano: var(--moon-spacing-nano);
    --spacing-small: var(--moon-spacing-small);
    --spacing-medium: var(--moon-spacing-medium);
    --spacing-large: var(--moon-spacing-large);
    --spacing-big: var(--moon-spacing-big);
    --spacing-huge: var(--moon-spacing-huge);

    // variables.scss
    --border-selector: var(--moon-border-selector);
    --border-selector_hover: var(--moon-border-selector_hover);
    --border-selector_focus: var(--moon-border-selector_focus);
    --border-selector_active: var(--moon-border-selector_active);
    --border-selector_invisible: var(--moon-border-selector_invisible);
    --background-selector: var(--moon-background-selector);
    --radius-selector: var(--moon-radius-selector);
}
