.moonstone-tableCellStart {
    position: relative;
    z-index: 0;

    align-self: stretch;
    height: 48px;
    padding: 0;
    overflow: visible;
}

.moonstone-tableBody .moonstone-tableRow:hover .moonstone-tableCellStart,
.moonstone-tableBody .moonstone-tableRow:focus-within .moonstone-tableCellStart {
    z-index: 1;
}
