$bgColor: var(--color-gray_dark);

.moonstone-tooltip_label {
    z-index: 1;

    width: inherit;
    padding: var(--spacing-nano) var(--spacing-small);

    font-size: 90%;
    color: var(--color-white);
    text-overflow: clip;

    border-radius: var(--radius);
    background-color: $bgColor;
}

.moonstone-tooltip_arrow {
    z-index: 1;

    fill: $bgColor;
}
