$bgColor: var(--color-gray_dark);

.tooltip_label {
    z-index: 1;

    width: inherit;
    max-width: 450px;
    padding: var(--spacing-nano) var(--spacing-small);

    color: var(--color-white);

    border-radius: var(--radius);
    background-color: $bgColor;
}

.tooltip_arrow {
    z-index: 1;

    fill: $bgColor;
}
