@import '~/styles/shared/all';

// Css for html only solution i. e. <div className="separator"/>. But it causes twitching during transition due to resizing.
.separator,
.separator_expanded {
    height: 1px;

    background-color: $color-gray;
    opacity: 0.4;
}

.separator {
    width: 40%;
}

.separator_expanded {
    width: 90%;
}
