@forward '../colors/colors';

:root {
    --selector-border: solid 1px var(--color-gray40);
    --selector-border_hover: solid 1px var(--color-accent);
    --selector-border_focus: solid 1px var(--color-accent);
    --selector-border_active: solid 1px var(--color-accent);
}
