.moonstone-IconTextIcon {
    width: 100%;

    .moonstone-IconTextIcon_iconStart {
        margin-right: var(--spacing-nano);
    }

    .moonstone-IconTextIcon_iconEnd {
        margin-left: var(--spacing-nano);
    }
}
