.moonstone-cardSelector {
    width: 100%;
    padding: var(--spacing-small);

    border: var(--selector-border);
    border-radius: 2px;
    background-color: var(--color-white);
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
        border: var(--selector-border_hover);
        box-shadow: 0 1px 6px var(--color-dark20);
    }

    &:focus {
        border: var(--selector-border_focus);
    }
}

.moonstone-cardSelector_disabled {
    opacity: 60%;

    pointer-events: none;
}

.moonstone-cardSelector_dragIcon {
    margin-left: calc(-1 * var(--spacing-small));
}

.moonstone-cardSelector_body {
    overflow: hidden;
}

.moonstone-cardSelector_body,
.moonstone-cardSelector_actions {
    gap: var(--spacing-small);

    & > * {
        gap: var(--spacing-small);
    }
}

.moonstone-cardSelector_systemName,
.moonstone-cardSelector_information {
    color: var(--color-dark_plain60);
}

.moonstone-cardSelector_thumbnail {
    width: 60px;
    min-width: 60px;
    height: 60px;

    margin-right: var(--spacing-small);
    overflow: hidden;

    border-radius: 2px;
    background-color: var(--color-gray_light40);
}

.moonstone-cardSelector_thumbnail_preview {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.moonstone-cardSelector_thumbnail_icon {
    width: 32px;
    height: 32px;
}

.moonstone-cardSelector_actions {
    margin-left: auto;
}

.moonstone-cardSelector_error {
    gap: var(--spacing-nano);
    width: 100%;
    min-height: 78px;
    padding: var(--spacing-medium) 0;

    color: var(--color-warning);

    border: 1px solid var(--color-warning);
    border-radius: 2px;
    background-color: var(--color-white);

    pointer-events: none;
}
