@use '../../utils/reset' as *;

.moonstone-accordion {
    @include reset;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.moonstone-reversed {
        color: var(--moon-color-light);
    }
}
