.moonstone-layoutModule_main {
    overflow: hidden;
}

.moonstone-layoutModule_content {
    padding: var(--spacing-medium);

    background-color: var(--color-light);
    overflow: auto;
}

.moonstone-layoutModule_content_centered {
    max-width: 800px;
    margin: 0 auto;
}

.moonstone-layoutModule_content_withNoPadding {
    padding: 0;
}
