name: On Code Change

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: yarn
      - run: yarn build
      - run: yarn test
      - run: yarn lint
