name: On Code Change

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: yarn
      - run: yarn build
      - name: Publish to pkg.pr.new
        run: npx pkg-pr-new publish --compact
      - run: yarn test
      - run: yarn lint
