name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch: null

jobs:
  prepare-next-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - run: npx chachalog@^0.4.4 prepare-next-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Build and publish
        run: >
          corepack enable && yarn install

          yarn workspaces foreach -vv --all --topological-dev run build

          yarn workspaces foreach -vv --all --topological --no-private npm publish --access public
          --tolerate-republish --provenance
      - run: npx chachalog@^0.4.4 publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-storybook:
    runs-on: ubuntu-latest
    needs: publish-release
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check latest release tag
        run: git checkout $(git for-each-ref --sort=-version:refname --format='%(refname:strip=2)' 'refs/tags/@jahia/moonstone@*' | head -1)
      - name: Build the storybook
        run: |
          corepack enable && yarn install --immutable
          yarn build:storybook
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.DEPLOY_STORYBOOK }}
          publish_dir: "storybook-static"
          commit_message: "Automated deployment - ${{ github.event.head_commit.message }} - [skip ci]"
