$mdc-color-red-50:#FFEBEE;
$mdc-color-red-100:#FFCDD2;
$mdc-color-red-200:#EF9A9A;
$mdc-color-red-300:#E57373;
$mdc-color-red-400:#EF5350;
$mdc-color-red-500:#F44336;
$mdc-color-red-600:#E53935;
$mdc-color-red-700:#D32F2F;
$mdc-color-red-800:#C62828;
$mdc-color-red-900:#B71C1C;
$mdc-color-red-A100:#FF8A80;
$mdc-color-red-A200:#FF5252;
$mdc-color-red-A400:#FF1744;
$mdc-color-red-A700:#D50000;

$mdc-color-pink-50:#FCE4EC;
$mdc-color-pink-100:#F8BBD0;
$mdc-color-pink-200:#F48FB1;
$mdc-color-pink-300:#F06292;
$mdc-color-pink-400:#EC407A;
$mdc-color-pink-500:#E91E63;
$mdc-color-pink-600:#D81B60;
$mdc-color-pink-700:#C2185B;
$mdc-color-pink-800:#AD1457;
$mdc-color-pink-900:#880E4F;
$mdc-color-pink-A100:#FF80AB;
$mdc-color-pink-A200:#FF4081;
$mdc-color-pink-A400:#F50057;
$mdc-color-pink-A700:#C51162;

$mdc-color-purple-50:#F3E5F5;
$mdc-color-purple-100:#E1BEE7;
$mdc-color-purple-200:#CE93D8;
$mdc-color-purple-300:#BA68C8;
$mdc-color-purple-400:#AB47BC;
$mdc-color-purple-500:#9C27B0;
$mdc-color-purple-600:#8E24AA;
$mdc-color-purple-700:#7B1FA2;
$mdc-color-purple-800:#6A1B9A;
$mdc-color-purple-900:#4A148C;
$mdc-color-purple-A100:#EA80FC;
$mdc-color-purple-A200:#E040FB;
$mdc-color-purple-A400:#D500F9;
$mdc-color-purple-A700:#AA00FF;

$mdc-color-deep-purple-50:#EDE7F6;
$mdc-color-deep-purple-100:#D1C4E9;
$mdc-color-deep-purple-200:#B39DDB;
$mdc-color-deep-purple-300:#9575CD;
$mdc-color-deep-purple-400:#7E57C2;
$mdc-color-deep-purple-500:#673AB7;
$mdc-color-deep-purple-600:#5E35B1;
$mdc-color-deep-purple-700:#512DA8;
$mdc-color-deep-purple-800:#4527A0;
$mdc-color-deep-purple-900:#311B92;
$mdc-color-deep-purple-A100:#B388FF;
$mdc-color-deep-purple-A200:#7C4DFF;
$mdc-color-deep-purple-A400:#651FFF;
$mdc-color-deep-purple-A700:#6200EA;

$mdc-color-indigo-50:#E8EAF6;
$mdc-color-indigo-100:#C5CAE9;
$mdc-color-indigo-200:#9FA8DA;
$mdc-color-indigo-300:#7986CB;
$mdc-color-indigo-400:#5C6BC0;
$mdc-color-indigo-500:#3F51B5;
$mdc-color-indigo-600:#3949AB;
$mdc-color-indigo-700:#303F9F;
$mdc-color-indigo-800:#283593;
$mdc-color-indigo-900:#1A237E;
$mdc-color-indigo-A100:#8C9EFF;
$mdc-color-indigo-A200:#536DFE;
$mdc-color-indigo-A400:#3D5AFE;
$mdc-color-indigo-A700:#304FFE;

$mdc-color-blue-50:#E3F2FD;
$mdc-color-blue-100:#BBDEFB;
$mdc-color-blue-200:#90CAF9;
$mdc-color-blue-300:#64B5F6;
$mdc-color-blue-400:#42A5F5;
$mdc-color-blue-500:#2196F3;
$mdc-color-blue-600:#1E88E5;
$mdc-color-blue-700:#1976D2;
$mdc-color-blue-800:#1565C0;
$mdc-color-blue-900:#0D47A1;
$mdc-color-blue-A100:#82B1FF;
$mdc-color-blue-A200:#448AFF;
$mdc-color-blue-A400:#2979FF;
$mdc-color-blue-A700:#2962FF;

$mdc-color-light-blue-50:#E1F5FE;
$mdc-color-light-blue-100:#B3E5FC;
$mdc-color-light-blue-200:#81D4FA;
$mdc-color-light-blue-300:#4FC3F7;
$mdc-color-light-blue-400:#29B6F6;
$mdc-color-light-blue-500:#03A9F4;
$mdc-color-light-blue-600:#039BE5;
$mdc-color-light-blue-700:#0288D1;
$mdc-color-light-blue-800:#0277BD;
$mdc-color-light-blue-900:#01579B;
$mdc-color-light-blue-A100:#80D8FF;
$mdc-color-light-blue-A200:#40C4FF;
$mdc-color-light-blue-A400:#00B0FF;
$mdc-color-light-blue-A700:#0091EA;

$mdc-color-cyan-50:#E0F7FA;
$mdc-color-cyan-100:#B2EBF2;
$mdc-color-cyan-200:#80DEEA;
$mdc-color-cyan-300:#4DD0E1;
$mdc-color-cyan-400:#26C6DA;
$mdc-color-cyan-500:#00BCD4;
$mdc-color-cyan-600:#00ACC1;
$mdc-color-cyan-700:#0097A7;
$mdc-color-cyan-800:#00838F;
$mdc-color-cyan-900:#006064;
$mdc-color-cyan-A100:#84FFFF;
$mdc-color-cyan-A200:#18FFFF;
$mdc-color-cyan-A400:#00E5FF;
$mdc-color-cyan-A700:#00B8D4;


$mdc-color-teal-50:#E0F2F1;
$mdc-color-teal-100:#B2DFDB;
$mdc-color-teal-200:#80CBC4;
$mdc-color-teal-300:#4DB6AC;
$mdc-color-teal-400:#26A69A;
$mdc-color-teal-500:#009688;
$mdc-color-teal-600:#00897B;
$mdc-color-teal-700:#00796B;
$mdc-color-teal-800:#00695C;
$mdc-color-teal-900:#004D40;
$mdc-color-teal-A100:#A7FFEB;
$mdc-color-teal-A200:#64FFDA;
$mdc-color-teal-A400:#1DE9B6;
$mdc-color-teal-A700:#00BFA5;


$mdc-color-green-50:#E8F5E9;
$mdc-color-green-100:#C8E6C9;
$mdc-color-green-200:#A5D6A7;
$mdc-color-green-300:#81C784;
$mdc-color-green-400:#66BB6A;
$mdc-color-green-500:#4CAF50;
$mdc-color-green-600:#43A047;
$mdc-color-green-700:#388E3C;
$mdc-color-green-800:#2E7D32;
$mdc-color-green-900:#1B5E20;
$mdc-color-green-A100:#B9F6CA;
$mdc-color-green-A200:#69F0AE;
$mdc-color-green-A400:#00E676;
$mdc-color-green-A700:#00C853;


$mdc-color-light-green-50:#F1F8E9;
$mdc-color-light-green-100:#DCEDC8;
$mdc-color-light-green-200:#C5E1A5;
$mdc-color-light-green-300:#AED581;
$mdc-color-light-green-400:#9CCC65;
$mdc-color-light-green-500:#8BC34A;
$mdc-color-light-green-600:#7CB342;
$mdc-color-light-green-700:#689F38;
$mdc-color-light-green-800:#558B2F;
$mdc-color-light-green-900:#33691E;
$mdc-color-light-green-A100:#CCFF90;
$mdc-color-light-green-A200:#B2FF59;
$mdc-color-light-green-A400:#76FF03;
$mdc-color-light-green-A700:#64DD17;



$mdc-color-lime-50:#F9FBE7;
$mdc-color-lime-100:#F0F4C3;
$mdc-color-lime-200:#E6EE9C;
$mdc-color-lime-300:#DCE775;
$mdc-color-lime-400:#D4E157;
$mdc-color-lime-500:#CDDC39;
$mdc-color-lime-600:#C0CA33;
$mdc-color-lime-700:#AFB42B;
$mdc-color-lime-800:#9E9D24;
$mdc-color-lime-900:#827717;
$mdc-color-lime-A100:#F4FF81;
$mdc-color-lime-A200:#EEFF41;
$mdc-color-lime-A400:#C6FF00;
$mdc-color-lime-A700:#AEEA00;

$mdc-color-yellow-50:#FFFDE7;
$mdc-color-yellow-100:#FFF9C4;
$mdc-color-yellow-200:#FFF59D;
$mdc-color-yellow-300:#FFF176;
$mdc-color-yellow-400:#FFEE58;
$mdc-color-yellow-500:#FFEB3B;
$mdc-color-yellow-600:#FDD835;
$mdc-color-yellow-700:#FBC02D;
$mdc-color-yellow-800:#F9A825;
$mdc-color-yellow-900:#F57F17;
$mdc-color-yellow-A100:#FFFF8D;
$mdc-color-yellow-A200:#FFFF00;
$mdc-color-yellow-A400:#FFEA00;
$mdc-color-yellow-A700:#FFD600;



$mdc-color-amber-50:#FFF8E1;
$mdc-color-amber-100:#FFECB3;
$mdc-color-amber-200:#FFE082;
$mdc-color-amber-300:#FFD54F;
$mdc-color-amber-400:#FFCA28;
$mdc-color-amber-500:#FFC107;
$mdc-color-amber-600:#FFB300;
$mdc-color-amber-700:#FFA000;
$mdc-color-amber-800:#FF8F00;
$mdc-color-amber-900:#FF6F00;
$mdc-color-amber-A100:#FFE57F;
$mdc-color-amber-A200:#FFD740;
$mdc-color-amber-A400:#FFC400;
$mdc-color-amber-A700:#FFAB00;



$mdc-color-orange-50:#FFF3E0;
$mdc-color-orange-100:#FFE0B2;
$mdc-color-orange-200:#FFCC80;
$mdc-color-orange-300:#FFB74D;
$mdc-color-orange-400:#FFA726;
$mdc-color-orange-500:#FF9800;
$mdc-color-orange-600:#FB8C00;
$mdc-color-orange-700:#F57C00;
$mdc-color-orange-800:#EF6C00;
$mdc-color-orange-900:#E65100;
$mdc-color-orange-A100:#FFD180;
$mdc-color-orange-A200:#FFAB40;
$mdc-color-orange-A400:#FF9100;
$mdc-color-orange-A700:#FF6D00;

$mdc-color-deep-orange-50:#FBE9E7;
$mdc-color-deep-orange-100:#FFCCBC;
$mdc-color-deep-orange-200:#FFAB91;
$mdc-color-deep-orange-300:#FF8A65;
$mdc-color-deep-orange-400:#FF7043;
$mdc-color-deep-orange-500:#FF5722;
$mdc-color-deep-orange-600:#F4511E;
$mdc-color-deep-orange-700:#E64A19;
$mdc-color-deep-orange-800:#D84315;
$mdc-color-deep-orange-900:#BF360C;
$mdc-color-deep-orange-A100:#FF9E80;
$mdc-color-deep-orange-A200:#FF6E40;
$mdc-color-deep-orange-A400:#FF3D00;
$mdc-color-deep-orange-A700:#DD2C00;

$mdc-color-brown-50:#EFEBE9;
$mdc-color-brown-100:#D7CCC8;
$mdc-color-brown-200:#BCAAA4;
$mdc-color-brown-300:#A1887F;
$mdc-color-brown-400:#8D6E63;
$mdc-color-brown-500:#795548;
$mdc-color-brown-600:#6D4C41;
$mdc-color-brown-700:#5D4037;
$mdc-color-brown-800:#4E342E;
$mdc-color-brown-900:#3E2723;

$mdc-color-gray-50:#FAFAFA;
$mdc-color-gray-100:#F5F5F5;
$mdc-color-gray-200:#EEEEEE;
$mdc-color-gray-300:#E0E0E0;
$mdc-color-gray-400:#BDBDBD;
$mdc-color-gray-500:#9E9E9E;
$mdc-color-gray-600:#757575;
$mdc-color-gray-700:#616161;
$mdc-color-gray-800:#424242;
$mdc-color-gray-900:#212121;

$mdc-color-blue-gray-50:#ECEFF1;
$mdc-color-blue-gray-100:#CFD8DC;
$mdc-color-blue-gray-200:#B0BEC5;
$mdc-color-blue-gray-300:#90A4AE;
$mdc-color-blue-gray-400:#78909C;
$mdc-color-blue-gray-500:#607D8B;
$mdc-color-blue-gray-600:#546E7A;
$mdc-color-blue-gray-700:#455A64;
$mdc-color-blue-gray-800:#37474F;
$mdc-color-blue-gray-900:#263238;

$mdc-color-black:#000000;
$mdc-color-white:#FFFFFF;
